<% provide(:title, 'About') %>

<%= Date.today %>
<div class="center hero-unit">
       <h1>About</h1>
       <h3>5 x 5</h3>
</div>
    <div class="row-fluid">
    <div class="span12">
    	Je fait la musculation depuis 12 ans et j'ai lu beucoup des choses (les livres, tous les forum etc). Jentrain dans beacoup des gym pour la muscu et pour autres sport comme la boxe et les marathon pour quelques ans (mais c'est dur de gange les muscles si vous courir trop!). La majorite de l'information etait pour vendre quelque chose et c'etait difficile de choisir le bonne info. Donc je fait ce site pour vous donnne les meillure info que j'ai appris dans les ans. en fait c'est le site je voulais quand j'ai commence. J'espere que vous pouvez registre pour le forum et me donnez vos conseilles aussi! On apprendre toujours!
  
   </div>
</div>




	
    	