<% provide(:title, 'About') %>
<% if signed_in? %>
<div class="center hero-unit">
       <h1>Info sur moi</h1>
    	(si vous êtes intéressé!)
       
</div>
    <div class="row-fluid">
    <div class="span12">
    	Je fait la musculation depuis 12 ans et j'ai lu beucoup des choses (les livres, tous les forum etc). J'entraine dans beacoup des gym pour la muscu et pour autres sport comme la boxe et les marathon pour quelques ans (mais c'est dur de gange les muscles si vous courir trop!). La majorite de l'information que j'ai trouve etait pour vendre quelque chose et c'etait difficile de choisir le bonne info. Donc je fait ce site pour vous donnne les meillure info que j'ai appris dans les ans. en fait c'est le site je voulais quand j'ai commence. Les regimes que j'ai mis vous pouvez faire avec que des halteres, les poids, le barre et chose pour develloppe, et quelque chose pour faire les pullups. pour moins que 200 euros vous pouvez tout faire sans les cher gym mais en plus si vous n'avais pas le space chez vous ou vous preferez d'aller au gym, c'est bien et vous auriez plus de choix pour les exercises. Si vous pouvez c'es tplus motivant et plus sûr se faire la musculation avec un partenaire. Ce site et bien pour voir votre progres, vous pouvez utiliser la journal pour marker vos poids et comme ca vous pouvez regarder votre progres apre le temps.
       J'espere que vous pouvez registre pour le forum et me donnez vos conseilles aussi! On apprendre toujours!
  
   </div>
</div>

	
<% else %>
<div class="center hero-unit">
       <h1>Pour le forum et le journal</h1>
       <%= link_to "Registre!", signup_path, class: "btn btn-large btn-success" %>
       
</div>
    <div class="row-fluid">
    <div class="span12">
    	<h1>Info sur moi</h1>
    	(si vous êtes intéressé!)</br></br></br>
    	Je fait la musculation depuis 12 ans et j'ai lu beucoup des choses (les livres, tous les forum etc). J'entraine dans beacoup des gym pour la muscu et pour autres sport comme la boxe et les marathon pour quelques ans (mais c'est dur de gange les muscles si vous courir trop!). La majorite de l'information que j'ai trouve etait pour vendre quelque chose et c'etait difficile de choisir le bonne info. Donc je fait ce site pour vous donnne les meillure info que j'ai appris dans les ans. en fait c'est le site je voulais quand j'ai commence. J'espere que vous pouvez registre pour le forum et me donnez vos conseilles aussi! On apprendre toujours!
  
   </div>
</div>

<% end %>




	
    	