<% provide(:title, 'About') %>
<% if signed_in? %>
<div class="center hero-unit">
       <h1>Info sur moi</h1>
    	(si vous êtes intéressé!)
       
</div>
    <div class="row-fluid">
    <div class="span12">
    	Je fais de la musculation depuis 12 ans et j'ai lu beucoup des choses (des livres, tous les forum etc). Je m'entraine dans beacoup de salle de gym pour la musculation et pour d'autres sports comme la boxe et le marathon (mais c'est dur de gagner en muscles si vous courez trop!). La majorité des informations que j'ai trouvées etait pour vendre quelque chose. Par conséquent, c'était difficile de choisir la bonne information. Donc je fais ce site pour vous donnner les meilleures infos que j'ai apprises au frue et à mesure des années. En réalité, c'est le site que j'aurai aimé avoir avoir quand j'ai commencé. 
Pour les régimes que j'ai mis en ligne, vous pouvez faire en utilisant que des haltères, des poids, une barre et des choses pour développer, et quelque chose pour faire des pullups. Pour moins de 200 euros vous pouvez tout faire sans payer cher une salle de gym. Néanmoins, si vous n'avez pas l'espace chez vous et que vous préférez aller dans une salle de musculation, vous aurez plus de choix pour les exercises. Si vous le pouvez c'est plus motivant et plus sûr de faire de la musculation avec un partenaire. </br>
Ce site est bien pour mesurer vos progrès: vous pouvez utiliser le journal pour marquer vos poids et comme ça vous pouvez regarder votre progrès dans le temps.</br>
       J'espère que vous vous inscrirez sur le forum et me donnerez vos conseils! On apprend toujours!</br>
  
   </div>
</div>

	
<% else %>
<div class="center hero-unit">
       <h1>Pour le forum et le journal</h1>
       <%= link_to "Registre!", signup_path, class: "btn btn-large btn-success" %>
       
</div>
    <div class="row-fluid">
    <div class="span12">
    	<h1>Info sur moi</h1>
    	(si vous êtes intéressé!)</br></br></br>
    Je fais de la musculation depuis 12 ans et j'ai lu beucoup des choses (des livres, tous les forum etc). Je m'entraine dans beacoup de salle de gym pour la musculation et pour d'autres sports comme la boxe et le marathon (mais c'est dur de gagner en muscles si vous courez trop!). La majorité des informations que j'ai trouvées etait pour vendre quelque chose. Par conséquent, c'était difficile de choisir la bonne information. Donc je fais ce site pour vous donnner les meilleures infos que j'ai apprises au frue et à mesure des années. En réalité, c'est le site que j'aurai aimé avoir avoir quand j'ai commencé. 
Pour les régimes que j'ai mis en ligne, vous pouvez faire en utilisant que des haltères, des poids, une barre et des choses pour développer, et quelque chose pour faire des pullups. Pour moins de 200 euros vous pouvez tout faire sans payer cher une salle de gym. Néanmoins, si vous n'avez pas l'espace chez vous et que vous préférez aller dans une salle de musculation, vous aurez plus de choix pour les exercises. Si vous le pouvez c'est plus motivant et plus sûr de faire de la musculation avec un partenaire. </br>
Ce site est bien pour mesurer vos progrès: vous pouvez utiliser le journal pour marquer vos poids et comme ça vous pouvez regarder votre progrès dans le temps.</br>
       J'espère que vous vous inscrirez sur le forum et me donnerez vos conseils! On apprend toujours!</br>
  
   </div>
</div>

<% end %>




	
    	