<div class="center hero-unit">
       <h1>Custom Regime</h1>
       
       
</div>
    <div class="row-fluid">
    <div class="span12">
    	<h1></h1>
    	Ici vous pouvez faire ce que vous voulez ! Mettez simplement les exercices que vous avez faits avec le nombre de séries et de répétitions.</br>

Comme d'habitude c'est simple et efficace !!! 
  
   </div>
</div>