<% provide(:title, 'Custom_regime') %>

<div class= "row">
		<aside class= "span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
<section><%= render 'shared/feedc' %>
</section>
</aside>

<div class="span8">
      <h1>Custom Journal!</h1>
      <%= render 'shared/custom_form' %>
    </div>
  </div>