<%provide(:title, 'Forum')%>
<h1>StaticPages#forum</h1>

<%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %> <h2>pour participer dans les forum.</h2>

<% first_user = User.last %>
<h4>First user: <%= first_user.name %></br>
Weight on <%= Date.today %>: <%= first_user.weight %> kgs
</h4>