<%provide(:title, 'Forum')%>
<h1>StaticPages#forum</h1>
<p>Find me in app/views/static_pages/forum.html.erb</p>

<%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %> <h2>pour participer dans les forum.</h2>
