<% if signed_in? %>
<div class="center hero-unit">
<h1>Musculation App</h1>
<h2>
  Home page pour 
  <a href="http://google.com">musculation</a>
  </h2>
  
</div>
	<div class= "center">
<%= link_to image_tag("arnold.jpg", alt: "MUSC", id: "arny"), 'http://lovelyjob.co.nf' %>

</div>
	
<% else %>
<div class="center hero-unit">
<h1>Musculation App</h1>
<h2>
  Home page pour 
  <a href="http://google.com">musculation</a>
  </h2>
  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>
	<div class= "center">
<%= link_to image_tag("arnold.jpg", alt: "MUSC", id: "arny"), 'http://lovelyjob.co.nf' %>

</div>
<% end %>