
<div class="center hero-unit">
<h1>musculation App</h1>
<h2>
  Home page pour 
  <a href="http://google.com">musculation</a>
  </h2>
  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("arny.jpeg", alt: "MUSC"), 'http://lovelyjob.co.nf' %>