<% provide(:title, 'Jour 1') %>

<div class= "row">
		<aside class= "span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
<section><%= render 'shared/day1_form' %>
</section>
</aside>

<div class="span8">
      <h1>Jour 1 diary!</h1>
      <%= render 'shared/feed1' %>
    </div>
  </div>