<div class= "row">
		<aside class= "span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
<section><%= render 'shared/poitrine_form' %>
</section>
</aside>

<div class="span8">
      <h1>La poitrine diary!</h1>
      <%= render 'shared/feedp' %>
    </div>
  </div>