<% provide(:title, 'Regime') %>

<div class="center hero-unit">
       <h1>Le Régime</h1>
       <h3>5 x 5</h3>
</div>
    <div class="row-fluid">
    <div class="span12">
    L'idee de cette regime est de faire 5 sets de 5 repetitions et d'utiliser plus de poids tout les semaine. on veut faire pas plus que 3 heures par semaine, avec 3 entrainment  ou on fait les grand group de muscles 2 fois par semaine. On utilise les exercise compound et c'est la meillure regime pour gaingner la force et le size. C'est intense et c'est bien pour les debutants, mais en plus c'est pour les intermediate qui veut casse leur plateau. Essayer de faire chaque seance dans une heure ou moins, parceque plus que ca et contreproductive. Faire les pause entre les sets de 90 seconds jusque a 3 minutes, assez pour recouperer pour faire le maximum pour la prochaine set. Fait le regime pour 4 semaine et prendre une semaine de petite poids pour recuperer. Et Puis mange le proteine et boire de l'eau! Il n'y a pas des secrets, travail fort avec ce regime et tu vas voire la difference!</br>
  	C'est simple et efficace!
        <div class="container-fluid">
    <div class="row-fluid">
    <div class="span9"><%= link_to image_tag("arnold.jpg", alt: "MUSC", id: "arny"), 'http://lovelyjob.co.nf' %>
    </div>
   <div class="span3">
    <p>si tu veut etre comme arny....</p>
   
</div>
    </div>
    </div>
    

 <div class = "container">
        <div class="row">
  <div class="span12">L'idee de cette regime est de faire 5 sets de 5 repetitions et d'utiliser plus de poids tout les semaine. on veut faire pas plus que 3 heures par semaine, avec 3 entrainment  ou on fait les grand group de muscles 2 fois par semaine. On utilise les exercise compound et c'est la meillure regime pour gaingner la force et le size. C'est intense et c'est bien pour les debutants, mais en plus c'est pour les intermediate qui veut casse leur plateau. Essayer de faire chaque seance dans une heure ou moins, parceque plus que ca et contreproductive. Faire les pause entre les sets de 90 seconds jusque a 3 minutes, assez pour recouperer pour faire le maximum pour la prochaine set. Fait le regime pour 4 semaine et prendre une semaine de petite poids pour recuperer. Et Puis mange le proteine et boire de l'eau! Il n'y a pas des secrets, travail fort avec ce regime et tu vas voire la difference!</br>
  	C'est simple et efficace!</div>
  
</div>
</div>


                                   
                                    
                                   
                                   
                                
                           