<% provide(:title, 'Regime') %>

<div class="center hero-unit">
       <h1>5*5 régime</h1>
       
</div>
    <div class="row-fluid">
    <div class="span12">
    L’idée de ce programme est de faire 5 séries de 5 répétitions pour chaque exercice. L’objectif est d’utiliser plus de poids pour les exercices réalisés toutes les semaines. L’idéal est de ne pas dépasser 3 heures de musculation par semaine avec ce programme. On veut travailler chaque grand groupe musculaire deux fois par semaine. On va utiliser dans ce programme des exercices « compound », c'est-à-dire poly articulaires afin de bien développer les grands groupes musculaires. C’est le meilleur programme pour gagner en force et en volume lorsque l’on débute en musculation. En effet, c’est un programme intense qui convient aux débutants ainsi qu’aux pratiquants de niveau intermédiaire qui souhaitent casser leur pallier.</br>

Avec ce programme, il faut éviter de dépasser une heure de musculation par séance puisque les efforts sont très intenses. L’entrainement deviendrait contreproductif s’il dépassait une heure. Durant la séance, il faut faire des pauses comprises entre 90 secondes et 3 minutes pour bien récupérer et pouvoir donner le maximum à chaque série. Ce programme se fait sur 4 semaines après quoi, il est préférable de prendre une semaine de repos ou bien de musculation avec des petites charges pour bien récupérer.</br>

Comme pour tous les programmes, mange des protéines et bois beaucoup d’eau en complément d’une alimentation saine et équilibrée ! Il n’y a pas de secret, donne tout ce que tu as pendant les séances et tu verras la différence!</br>

C’est simple et efficace !!!  <hr>
    
</div>
</div>

<div class="row-fluid">
    <div class="span4">
    <h2>Jour 1</h2>
    Squat: 5*5</br>
    Souleve de terre: 5*5</br>
    Developpe couche: 5*5</br>
   

      </div>
    
  
    <div class="span4">
    <h2>Jour 2</h2>
    Pull up: 5*5</br>
Developpe nuque: 5*5 </br>
Developpe incline: 5*5</br>
      

      
    </div>
    
    <div class="span4">
    <h2>Jour 3</h2>
      Squat: 5*5</br>
Developpe barre: 5*5</br>
Curl barre: 5*5</br>

      </div>
    </div>

                                   
                                    
                                   
                                   
                                
                           