<% provide(:title, 'Standard regime') %>

<div class="center hero-unit">
       <h1>Régime norme</h1>
       
</div>
<div class="row-fluid">
    <div class="span12">
    Cette regime est la meillure pour les debutants. Je le suive suivants aussi parcequ'ily n'as pas beucoup de risque d'etre blesse en camparison avec le 5*5 grace a cous utiliser moins de poids. Les muscles obtiendront plus que avec le 5*5 et c'est mieux pour l'endurance mais le 5*5 est mieux pour la force. Cest bien de changer vos regimes reguliarement pour faire surprise a vos muscles, comme ca vous allez progres le plus vite, votre muscles vont etre surchargé et donc votre corps va repondre par etre anabolic. Avec cette regime, vous voulez faire entre 8-12 repetitions de 3-4 sets pour chaque exercise. Vous pouvez changer cette formulae comme vous voulez, c'est tres flexible mais desus je vous donne la meillieure formulae que j'ai trouver.Comme d'habitute on veut faire entre 45 minutes et une heure, ici moins est mieux que plus.
    C'est tres dur de faire les biceps apres le dos parce que les pull-up et les row utilise le bicep aussi. Pour la meme raison c'est dur de faire les triceps apres la poitrine. Moi j'ai bien de changer parfois et faire les biceps apres la poitrine et les triceps apres le dos. </br>
    C'est simple et efficace!<hr>
    
</div>
</div>

<div class="row-fluid">
    <div class="span4">
    <h2>Le dos et les Biceps</h2>
   Pull up: 4 sets de 8</br>
Deadlift: 4 sets de 8</br> 
Row: 3 sets de 8</br>
Bicep curl: 3 sets de 8</br>
Hammer: 3 sets de 8</br>


   

      </div>
    
  
    <div class="span4">
    <h2>La poitrine</h2>
     Developpe couche: 4 sets de 8</br>
     Ecarte couche: 3 sets de 8</br>
Developpe incline: 3 sets de 8</br>
Ecarte incline: 3 sets de 8 </br>
Haltere au front: 3-4 sets de 8</br>

      
    </div>
    
    <div class="span4">
    <h2>Les épaules et les jambes</h2>
     Squat: 4 sets de 8 (apres les squat vous etes mort!)</br>
Rowing menton: 3 sets de 8</br>
Elevations devant: 3 sets de 8</br>
Rowing courbe: 3 sets de 8</br>

      </div>
    </div>

               