<% provide(:title, 'Standard regime') %>

<div class="center hero-unit">
       <h1>Régime norme</h1>
       
</div>
<div class="row-fluid">
    <div class="span12">
    Ce programme est certainement le meilleur pour ceux qui débutent en musculation. Mais je le suis aussi puisque ce programme est moins risqué, au niveau des blessures musculaires, que le 5*5 puisque les charges sont moins importantes. Les avantages de ce programme sont de permettre une prise de masse et de volume plus importante qu’avec le 5*5 ainsi qu’une meilleure endurance musculaire. Le 5*5 cible d’avantage le gain de puissance.</br>

C’est important de varier les programmes de temps en temps afin de surprendre les muscles, alterner entre le 8-12*4 et le 5*5. Les progrès seront plus rapides.</br>

Pour ce programme, l’idéal est d’effectuer 4 séries de 8 à 12 répétitions pour chaque exercice. Vous pouvez varier les exercices comme vous le souhaitez, je vous donne ici des exemples de séance. Encore une fois, il faut éviter de dépasser 1 heure de musculation par séance, il vaut mieux en faire un peu moins qu’un peu plus.</br>

Par exemple, je trouve qu’il est très dur de faire les biceps après avoir travaillé le dos, les tractions utilisant beaucoup les biceps. Pour la même raison, ce n’est pas évident de faire les triceps après avoir fait du développé couché. Du coup, je fais les biceps après la poitrine et les triceps après le dos.</br>

C’est simple et efficace !!! <hr>
    
</div>
</div>

<div class="row-fluid">
    <div class="span4">
    <h2>Le dos et les Biceps</h2>
   Pull up: 4 sets de 8</br>
Deadlift: 4 sets de 8</br> 
Row: 3 sets de 8</br>
Bicep curl: 3 sets de 8</br>
Hammer: 3 sets de 8</br>


   

      </div>
    
  
    <div class="span4">
    <h2>La poitrine</h2>
     Developpe couche: 4 sets de 8</br>
     Ecarte couche: 3 sets de 8</br>
Developpe incline: 3 sets de 8</br>
Ecarte incline: 3 sets de 8 </br>
Haltere au front: 3-4 sets de 8</br>

      
    </div>
    
    <div class="span4">
    <h2>Les épaules et les jambes</h2>
     Squat: 4 sets de 8 (apres les squat vous etes mort!)</br>
Rowing menton: 3 sets de 8</br>
Elevations devant: 3 sets de 8</br>
Rowing courbe: 3 sets de 8</br>

      </div>
    </div>

               