<form method='post' action='/weights' >

<label>bench</label><br>
  <input name="weight[bench]" size= "5" type="number">
  <label>incline_bench</label><br>
  <input name="weight[incline_bench]" size="5" type="number">
  <label>pec_flight</label><br>
  <input name="weight[pec_flight]" size="5" type="number">
  <label>incline_pec</label><br>
  <input name="weight[incline_pec]" size="5" type="number">


  <input type="submit" value="Create Weight">

</form>