@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 49px;
  /* background*/

background-image:url('vertical_cloth.png');


}
#mycarousel {
  
}
.container {
  background: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  border-radius: 2px;

}

.navbar-inner {
  background: white;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;

}
#navTop {
  color: #60a5bf;
  &:hover{
  color: $grayMediumLight;
    text-shadow: 0px 2px 3px #555;
    text-decoration: none;

  }
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #86dca6;
  text-shadow: 0px 1px 1px gray;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-shadow: 0px 1px 2px #555;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 25px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: #1d783f;
  a {
    color: #1d783f;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 10px;

    }
  }
}

/*image of arny*/
#arny {
  
  
  width: 580px;
  height: 310px;
  -webkit-box-shadow: 0px 5px 10px #96c0d0;
    -moz-box-shadow: 0px 5px 10px #96c0d0;
    box-shadow: 0px 5px 10px #96c0d0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
    border:solid white 2px;
    overflow: hidden;
}




/* Hero unit*/
.hero-unit {
  
  background-color: #508aa0;
  padding-top:18px;
  padding-bottom: 18px;
  
  
  h1 {

  margin-top: 0px;
  color: white;
  text-shadow: 0px 1px 2px black;

  
  }
  h2 {
  margin-bottom: 16px;
  color: #86dca6;
  
  }
  h3 {
  color: #809295;

  }
  .btn {
  
  -webkit-box-shadow: 0px 2px 4px black;
    -moz-box-shadow: 0px 2px 4px black;
    box-shadow: 0px 2px 4px black;
    
    }
}

.row-fluid {
  color: #1f2c71;
  text-align: center;
  font:15px verdana;
  .span3 {
  margin-top: 5%;
  }
  .span4 {
  color: #58b97c;
  font:13px verdana;

  h2 {
  color: #1d783f;
  font:bold 20px tahoma;
  margin-top: 0px;  
  margin-bottom: 10px;

  }
  }
  .span6{
  color: #1d783f;
  font:25px verdana;
  margin-bottom: 10px;


h1{
  font:bold 50px tahoma;
  margin-bottom: 0px;
  color: #1f2c71;
    text-shadow: 0px 1px 1px gray;

}
  }
  h3{
  margin-top: 0px;
  text-shadow: 0px 1px 2px gray;
  font:20px tahoma;
  }


  }

aside{
h3{
  font:bold 22px verdana;
  color: #1d783f;
  margin-top: 50px;
  }
  #sur {
  font:bold 40px verdana;
  color: green;

  }

  
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */


.gravatar {
  float: left;
  margin: 20px;
  margin-top: 55px;
  width: 120px;
  
  border-radius: 5px;
}
#arn {
float: right;
  margin: 20px;
  margin-top: 55px;
  width: 160px;
  height: 140px;
  border-radius: 5px;
  
}
#yold{
  -webkit-box-shadow: 0px 5px 10px #96c0d0;
    -moz-box-shadow: 0px 5px 10px #96c0d0;
    box-shadow: 0px 5px 10px #96c0d0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 5px;
    border:solid white 2px;
} 

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;

}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* back */

.backs {

  list-style: none;
  margin: 10px 0 0 0;

  li {
  text-align: center;
    overflow: auto;
      padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    

  }

  
}

.timestamp {
  color: #150e21;
  font:bold 20px tahoma;


}
.tings{
color: white;
  border: 1px solid #bbb;
  background: #2b2c34;
  border-radius: 6px;
    margin-left:100px;
    margin-right: 100px;
    margin-top: 5px;
}
.span8 {
  text-align: center;
  h1 {color: #508aa0;
  font:bold 50px tahoma;
  text-shadow: 0px 1px 2px gray;
  
}

}

/* poitrine */

.poitrines {

  list-style: none;
  margin: 10px 0 0 0;

  li {
  text-align: center;
    overflow: auto;
      padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    

  }
}
.noma {

  .gravatar{
  width: 90px;
  margin: 0px;
  padding:0px;
  }
   h4{
  padding-top: 30px;
  padding-left: 115px;
  }
}
.useredit{
.gravatar{
  width: 90px;
  margin: 0px;
  padding:0px;
  }
   h4{
  padding-top: 30px;
  padding-left: 115px;
  }
  
}

/*   forum index   */
.right-controls {
  color: pink;
}
.icon {
  width: 30px;
}

/* Modules */

.module { border:1px solid #e2e2e2; border-radius: 4px; margin:.8em 0; background-color:#fff; overflow:auto; }
.module_controls { padding:.8em; }
.module_header { color:#fff; padding:.7em .7em .7em 1.4em; background-color:#508aa0; }
.module_header a { color:#fff; }
.module_subheader, .module_footer { margin:.6em .8em; padding:.6em; }
.module_subheader { border-bottom:1px solid #e2e2e2; }
.module_footer { border-top:1px solid #e2e2e2; }
.module_body { padding:1em; }

/* Form Fields & Labels */

.module .fieldset { width:100%; }
.module .fieldset .indent { width:16em; }
.module .fieldset .label { font-weight:bold; text-align:center; display:block; float:left; padding:6px 0px 2px 1em; background: #508aa0; border:1px solid #e2e2e2; border-radius: 3px; }
.module .fieldset .label small { font-weight:normal; }
.module .fieldset .input { padding:.2em 1em; display:block; float:left; }

/* Common */

.module .clear { clear: both; height: 0; overflow: hidden; }
.module .smaller { font-size:.9em; }
.module .left { float:left; }
.module .right { float:right; text-align:right; }
.controls a { margin:0 5px; font-size:.8em; }

/* Tables */

table { width:100%; border-collapse:collapse; }
table th { font-weight:normal; padding:.7em; font-size:.9em; }
table td { padding:.5em; border:1px solid #e2e2e2; border-bottom:0px; vertical-align:top; background:#fff; }
table td:first-child { border-left:0px; }
table td:last-child { border-right:0px; }

table .icon { width:26px; text-align:center; }
table .counts { width:8%; text-align:center; }
table .last_post { padding-left:10px; }
table .description { width:55%; text-align:left; padding-left:20px; }

/* Post View Table */

table .post_author { padding-left:15px; vertical-align:top !important; }
table .post_author .name { font-size:1.5em; display:block; margin-bottom:5px; }
table .post_author .name a { margin-left:-20px; }
table .post_author .info { display:block; margin:5px 0; }
table .post_body { width:80%; padding:10px 10px 30px 10px; border-bottom:0px; }

/* BBCode  */

blockquote {
  border: 1px solid #e2e2e2;
  font-style: italic;
  margin: 10px 0px 0px 25px;
  padding: 10px;
 }

 .lef{
float: left;
width: 45%;

 }
 .rig{
float: right;
width: 50%;

 }
 

 .field {
 h2{
 font:bold 20px tahoma;
 color: #1d783f;
 margin-top: 20px;font:bold 20px tahoma;
 margin-bottom: 4px;
 }
 }

 .timestamp {
 color: #1d783f;
 }