@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 49px;
  /* background*/

background-image:url('vertical_cloth.png');


}
#mycarousel {
  
}
.container {
  background: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  border-radius: 2px;

}

.navbar-inner {
  background: white;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;

}
#navTop {
  color: #60a5bf;
  &:hover{
  color: $grayMediumLight;
    text-shadow: 0px 2px 3px #555;
    text-decoration: none;

  }
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #86dca6;
  text-shadow: 0px 1px 1px gray;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-shadow: 0px 1px 2px #555;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 25px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: #1d783f;
  a {
    color: #1d783f;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 10px;

    }
  }
}

/*image of arny*/
#arny {
  
  
  width: 580px;
  height: 310px;
  -webkit-box-shadow: 0px 5px 10px #96c0d0;
    -moz-box-shadow: 0px 5px 10px #96c0d0;
    box-shadow: 0px 5px 10px #96c0d0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
    border:solid white 2px;
    overflow: hidden;
}




/* Hero unit*/
.hero-unit {
  
  background-color: #508aa0;
  padding-top:18px;
  padding-bottom: 18px;
  
  
  h1 {

  margin-top: 0px;
  color: white;
  text-shadow: 0px 1px 2px black;

  
  }
  h2 {
  margin-bottom: 16px;
  color: #86dca6;
  
  }
  h3 {
  color: #809295;

  }
  .btn {
  background: #a29b8b;
 
  }
}

.row-fluid {
  color: #1f2c71;
  text-align: center;
  font:15px verdana;
  .span3 {
  margin-top: 5%;
  }
  .span4 {
  color: #58b97c;
  font:13px verdana;

  h2 {
  color: #1d783f;
  font:bold 20px tahoma;
  margin-top: 0px;  
  margin-bottom: 10px;

  }
  }
  .span6{
  color: #1d783f;
  font:25px verdana;
  margin-bottom: 10px;


h1{
  font:bold 50px tahoma;
  margin-bottom: 0px;
  color: #1f2c71;
    text-shadow: 0px 1px 2px gray;

}
  }


  }

aside{
h3{
  font:bold 22px verdana;
  color: #1d783f;
  margin-top: 50px;
  }

  
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */


.gravatar {
  float: left;
  margin: 20px;
  margin-top: 55px;
  width: 160px;
  height: 140px;
  border-radius: 5px;
}
#arn {
float: right;
  margin: 20px;
  margin-top: 55px;
  width: 160px;
  height: 140px;
  border-radius: 5px;
  
}
#yold{
  -webkit-box-shadow: 0px 5px 10px #96c0d0;
    -moz-box-shadow: 0px 5px 10px #96c0d0;
    box-shadow: 0px 5px 10px #96c0d0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 5px;
    border:solid white 2px;
} 

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;

}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* back */

.backs {

  list-style: none;
  margin: 10px 0 0 0;

  li {
  text-align: center;
    overflow: auto;
      padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    

  }

  
}

.timestamp {
  color: #150e21;
  font:bold 20px tahoma;


}
.tings{
color: white;
  border: 1px solid #bbb;
  background: #2b2c34;
  border-radius: 6px;
    margin-left:230px;
    margin-right: 230px;
    margin-top: 5px;
}
.span8 {
  text-align: center;

}

/* poitrine */

.poitrines {

  list-style: none;
  margin: 10px 0 0 0;

  li {
  text-align: center;
    overflow: auto;
      padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    

  }
}