<% provide(:title, "Araignée rampement") %>

<div class="center hero-unit">
       <h1>Araignée rampement</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  abdominaux </br>
            D'autres muscles: poitrine, triceps, épaules</br>
            Niveau: débutant</br>
            Type de mécanique: compound</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
1. Commencez en position couchée sur le sol. Soutenez votre poids sur vos mains et les orteils, avec vos pieds ensemble et le corps droit. Vos bras doivent être pliés à 90 degrés. Ce sera votre position de départ.</br>
     2. Initier le mouvement en levant un pied hors de la terre. Extérieurement tourner la jambe et amener le genou vers votre coude, aussi loin que possible.</br>
     3. Retour cette étape à la position de départ et répétez de l'autre côté.</br>

</div>






    <div class="span12">
        <%= link_to "Abdominaux", abdominaux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
