<% provide(:title, "Landmine 180's") %>

<div class="center hero-unit">
       <h1>Landmine 180's</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  abdominaux </br>
            D'autres muscles: fessiers, bas du dos, épaules</br>
            Niveau: débutant</br>
            Type de mécanique: compound</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
1. Placez une barre dans une mine ou solidement ancrer dans un coin. Chargez la barre à un poids approprié.</br>
     2. Relever la barre à partir du plancher, en prenant à la hauteur des épaules avec les deux mains, les bras tendus devant vous. Adopter une position large. Ce sera votre position de départ.</br>
     3. Effectuez le mouvement en tournant le tronc et les hanches comme vous balancer le poids tout le long d'un côté. Gardez vos bras tendus tout au long de l'exercice.</br>
     4. Inverser le mouvement de balancer le poids tout le chemin vers le côté opposé.</br>
     5. Continuez à alterner le mouvement jusqu'à ce que le jeu est terminé.</br>

</div>






    <div class="span12">
        <%= link_to "Abdominaux", abdominaux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
