<% provide(:title, "Araignée rampement") %>

<div class="center hero-unit">
       <h1>Araignée rampement</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  abdominaux </br>
            D'autres muscles: poitrine, triceps, épaules</br>
            Niveau: débutant</br>
            Type de mécanique: compound</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
Commencez en position couchée sur le sol. Soutenez votre poids sur vos mains et les orteils, les pieds joints et le corps droit. Vos bras et avant bras doivent former un angle de 90°. Ce sera votre position de départ.</br> Initier le mouvement en levant un pied. L’objectif est d’amener le genou vers votre coude, aussi loin que possible, en formant un arc de cercle.</br>

Revenez à la position de départ et alternez avec l’autre jambe.</br> 

</div>






    <div class="span12">
        <%= link_to "Abdominaux", abdominaux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
