<% provide(:title, "Relevé de jambes en suspension") %>

<div class="center hero-unit">
       <h1>Relevé de jambes en suspension</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  abdominaux </br>
            Niveau: intermédiaire</br>
            Type de mécanique: isolation</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

A noter que ce mouvement nécessite aussi une certaine force dans les mains et les avant-bras, pour pouvoir rester pendu pendant toute la série.</br> Montez sur l'espalier et pendez-vous par les mains, dos à l'espalier. Les pieds ne doivent pas toucher le sol.</br> Tendez bien les jambes. Contractez les abdominaux pour faire monter les jambes, qui restent tendues.</br> Attention à ne pas cambrer le dos. Une fois arrivée à l'horizontale, continuer le mouvement, en décollant le bassin, et en enroulant le bas du dos, pour monter le plus haut possible. Ensuite, redescendez en faisant le mouvement inverse, reposez d'abord le bassin, puis baissez les jambes.</br> Bien faire attention à la position du dos, qui ne doit pas être cambré pendant le mouvement.</br>

Si vous n'avez pas la force de faire le mouvement complet, vous pouvez vous arrêter lorsque vos jambes forment un angle droit avec votre torse, donc sans décoller le bassin. </br>
</div>






    <div class="span12">
        <%= link_to "Abdominaux", abdominaux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
