<% provide(:title, "Plank") %>

<div class="center hero-unit">
       <h1>Plank</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  abdominaux </br>
            
            Niveau: débutant</br>
            Type de mécanique: compound</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
Placez-vous en position de pompes, mais en posant les avant-bras au sol (au lieu des mains).</br> Raidissez le corps de manière à ce qu’il devienne une ligne indéformable. Rentrez le ventre au maximum. Pour les débutants, le fait de lever légèrement les fesses permet de facilité l’apprentissage (moins d’efforts à fournir). À partir de cette position, ne bougez plus le temps que dure votre série (entre 10 secondes et plusieurs minutes).</br> La tête est dans le prolongement du dos (ni levée, ni baissée) et ne bougera plus (sauf pour vérifier de temps en temps dans un miroir que la position n’a pas bougée). La respiration doit impérativement se faire par la cage thoracique (et non par un relâchement du ventre) et lentement. Il est fortement recommandé, lors de l’inspiration, de chercher à rentrer au maximum le ventre (absorption du nombril).</br>

</div>






    <div class="span12">
        <%= link_to "Abdominaux", abdominaux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
