<% provide(:title, "Plank") %>

<div class="center hero-unit">
       <h1>Plank</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  abdominaux </br>
            
            Niveau: débutant</br>
            Type de mécanique: compound</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
1. Mettez-vous dans une position couchée sur le sol, l'appui de votre poids sur vos orteils et vos avant-bras. Vos bras sont pliés et directement en dessous de l'épaule.</br>
     2. Gardez votre corps droit, à tout moment, et maintenez cette position aussi longtemps que possible. Pour augmenter la difficulté, un bras ou une jambe peuvent être soulevées.</br>

</div>






    <div class="span12">
        <%= link_to "Abdominaux", abdominaux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
