<% provide(:title, "Relevés de jambes") %>

<div class="center hero-unit">
       <h1>Relevés de jambes</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  abdominaux </br>
            
            Niveau: débutant</br>
            Type de mécanique: isolation</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

Allongez-vous sur un banc droit, les jambes dans le vide et les mains agrippées à la planche ou un support prévu à cet effet.</br> Relevez vos jambes sans décoller le bassin du banc et en conservant la colonne vertébrale droite.</br> L'angle d'inclinaison des jambes est variable, de 45° jusqu'a la verticale, selon vos préférences et sans incidence sur l'efficacité de l'exercice. Excellent exercice pour ceux qui ont des difficultés à ressentir le travail sur la partie basse des abdominaux.</br>

</div>






    <div class="span12">
        <%= link_to "Abdominaux", abdominaux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
