<% provide(:title, "Haltère courbure latérale") %>

<div class="center hero-unit">
       <h1>Haltère courbure latérale</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  abdominaux </br>
            
            Niveau: débutant</br>
            Type de mécanique: isolation</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
La position initiale est debout, abdominaux rentrés et contractés, pieds joints, tête droite, avec un haltère à la main.</br> La main disponible peut-être portée derrière la tête (augmentation de l’étirement durant la phase excentrique ou sur le côté de la cuisse, c’est-à-dire bras le long du corps pour faciliter la compréhension du mouvement de flexion et non de déplacement latéral que nous allons voir).</br> Descendre l’haltère le long de la cuisse (en la faisant rouler). Lorsque la flexion est maximale, l’objectif est de repartir dans l’autre sens (remontée de l’haltère le long de cette même cuisse) par une contraction volontaire des muscles obliques.</br> Le travail de flexion est un rapprochement de l’épaule libre et du bassin. Il ne s’agit donc surtout pas de tirer d’un côté en éloignant l’épaule de l’axe du corps (devant une glace, la ligne pubis-nombril-plexus reste une droite verticale et ne se transforme pas en une courbe).</br> Afin d’accentuer la sensation de contraction, il est possible de maintenir ce rapprochement épaule-bassin 1 à 2 secondes avant de repartir pour la phase excentrique.</br> L’inspiration se fait durant la phase excentrique (l’haltère descend) et l’expiration sera pour la phase concentrique (l’haltère remonte le long de la cuisse).</br> 

</div>






    <div class="span12">
        <%= link_to "Abdominaux", abdominaux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
