<% provide(:title, "Relevés de jambes") %>

<div class="center hero-unit">
       <h1>Relevés de jambes</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  abdominaux </br>
            
            Niveau: débutant</br>
            Type de mécanique: isolation</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

1. Commencez par couché sur le dos sur le sol. Vos jambes doivent être droites et vos bras à vos côtés. Ce sera votre position de départ.</br>
    2. Pour effectuer le mouvement, rentrer les genoux vers votre poitrine en fléchissant les hanches et les genoux. Par la suite, étendre vos jambes au dessus de vous afin qu'ils soient perpendiculaires au sol. Tournez et élever votre bassin pour élever vos fessiers du sol.</br>
     3. Après une courte pause, revenir à la position de départ.</br>

</div>






    <div class="span12">
        <%= link_to "Abdominaux", abdominaux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
