<% provide(:title, "Relevé de jambes en suspension") %>

<div class="center hero-unit">
       <h1>Relevé de jambes en suspension</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  abdominaux </br>
            Niveau: intermédiaire</br>
            Type de mécanique: isolation</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

1. Suspendez-vous à une barre de traction avec les deux bras tendus à bout de bras en dessus de vous en utilisant soit une prise large ou une prise moyenne . Les jambes doivent être vers le bas avec le bassin roulé légèrement vers l'arrière . Ce sera votre position de départ.</br>
    2. Levez vos jambes jusqu'à ce que le torse fait un angle de 90 degrés avec les jambes. Expirez en vous effectuez ce mouvement et maintenez la contraction pendant une seconde ou deux.</br>
    3. Retour lentement à la position de départ que vous respirez.</br>
    4. Répétez l'opération pour la quantité recommandée de répétitions.</br>

Attention: </br>Effectuez cet exercice lentement et délibérément comme il faut un certain temps pour s'y habituer . Aussi, ne vous précipitez pas et essayer d'utiliser des poids sur la première fois , vous aurez assez de vos mains en maintenant votre poids et aussi apprendre à vous équilibrer afin de vous éviter balancer votre torse . Comme vous obtenez plus avancé, vous pouvez tenir un haltère entre vos pieds . Cependant , vous devez être très prudent lors de l'ajout de poids à cet exercice comme si vous ajoutez trop trop rapidement, vous pourriez obtenir une hernie.</br>

Variantes: </br>Cet exercice peut également être effectuée en utilisant un banc vertical qui rend l'exercice plus facile en soutenant le haut du dos en place et en vous permettant de vous tenir en plaçant vos coudes et les bras sur les patins latéraux.</br>
</div>






    <div class="span12">
        <%= link_to "Abdominaux", abdominaux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
