<% provide(:title, 'Dip de banc') %>

<div class="center hero-unit">
       <h1>Dip de banc</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  triceps</br>
            D'autres muscles: poitrine, épaules </br>
            Niveau: intermédiaire (débutant sans les poids)</br>
            Type de mécanique: compound</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
Positionner deux bancs plats l'un en face de l'autre, de manière à ce que si vous êtes assis au bord de l'un, avec les jambes tendues, l'autre banc soit à une dizaine de centimètre de la pointe de vos pieds Mettez les mains au bord du banc, en tenant la « tranche » du banc. Avancer les jambes vers l'autre banc, en tendant les jambes, pour reposer les talons au bord de l'autre banc. Le corps est donc plié à 90° au niveau de la hanche. Si besoin, rectifiez l'écartement entre les deux bancs. Lorsque vous êtes en position haute, pliez les bras pour descendre le torse, tout en gardant les jambes tendues. Les bras doivent se plier vers l'arrière. Les coudes ne doivent pas partir sur le côté, mais bien en arrière, pour mieux isoler le travail sur les triceps.</br>

Frôlez le sol avec vos fesses (suivant votre souplesse et la hauteur du banc) et remontez, en contractant les triceps et en poussant bien avec la paume de la main. Les jambes doivent rester tendues, et le corps bien plié à 90°, avec le dos droit, pendant tout le mouvement.</br>

Variation : Pour rendre le mouvement plus dur, vous pouvez forcer la contraction en position haute pendant 1 seconde, ou vous lester, en posant un disque sur vos genoux. Cette deuxième solution fonctionne, mais elle n'est pas facile à mettre en pratique tout seul. La cage thoracique s'ouvre lorsque les coudes remontent, donc pendant la descente. C'est à ce moment là que vous allez inspirer. Et expirez lors de la contraction, pendant que vous tendez les bras.</br>

</div>

    <div class="span12">
        <%= link_to "Bras", bras_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
