<% provide(:title, 'Curl barre') %>

<div class="center hero-unit">
       <h1>Curl barre</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  biceps </br>
            D'autres muscles: avant bras</br>
            Niveau: débutant</br>
            Type de mécanique: isolation</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
En position de départ debout, le dos immobile et droit, les genoux fléchis ou une jambe avancée pour éviter de tricher en s'aidant de l'élan, les coudes près du corps. Monter et descendre la barre sans à-coups. Vous pouvez varier l'écartement des mains en utilisant une prise large, moyenne ou serrée. Comme ce qui est dit précédemment, l’idéal est d’éviter de se balancer et pour cela il faut éviter de surcharger la barre ou bien coller le dos à un mur.</br>

Variantes : L’exercice peut être réalisé à l’aide d’une poulie basse (machine) ou bien avec une EZ barre (barre tordue). L’écartement de la prise va influer sur la zone travaillée. </br>

</div>






    <div class="span12">
        <%= link_to "Bras", bras_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
