<% provide(:title, 'Hammer curl') %>

<div class="center hero-unit">
       <h1>Hammer curl</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  biceps (bon pour faire les arrondis)</br>
            D'autres muscles: avant bras</br>
            Niveau: débutant</br>
            Type de mécanique: isolation</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
1. Levez-vous avec votre torse droit et un haltère sur chaque main étant tenue à bout de bras . Les coudes doivent être près du torse.</br>
    2. Les paumes des mains doivent être orientées vers le torse. Ce sera votre position de départ.</br>
    3. Maintenant , tout en tenant votre bras fixe supérieure , expirez et détendez le poids vers l'avant tout en contractant les biceps . Continuez à augmenter le poids jusqu'à ce que les biceps sont entièrement contractés et l'haltère est au niveau de l'épaule. Maintenez la position contractée pendant un bref moment que vous serrez les biceps . Astuce: Mettre l'accent sur ​​le maintien du coude fixe et en déplaçant votre avant-bras seulement.</br>
    4. Après une brève pause , respirer et commencer lentement le bas les haltères vers le bas à la position de départ.</br>
    5. Répétez l'opération pour la quantité recommandée de répétitions.</br>

Variations: </br> Il existe de nombreuses variantes possibles de ce mouvement . Par exemple, vous pouvez effectuer l'exercice assis sur un banc avec ou sans dossier et vous pouvez également effectuer par les armes en alternance , d'abord lever le bras droit pour une répétition , puis la gauche , puis le droit , etc.</br>

</div>





<div class="span12">
        <%= link_to "Bras", bras_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
