<% provide(:title, 'Zottman curl') %>

<div class="center hero-unit">
       <h1>Zottman curl</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  biceps (bon pour faire les arrondis)</br>
            D'autres muscles: avant bras</br>
            Niveau: intermédiaire</br>
            Type de mécanique: isolation</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

1. Levez-vous avec votre torse droit et un haltère dans chaque main étant tenue à bout de bras . Les coudes doivent être près du torse.</br>
    2. Assurez-vous que les paumes des mains sont face à face . Ce sera votre position de départ.</br>
    3. Tout en tenant le bras fixe supérieure , recourber les poids tout en contractant les biceps que vous expirez . Seuls les avant-bras doivent bouger. Votre poignet doit tourner de sorte que vous avez un ( paumes vers le haut ) prise en supination . Continuer le mouvement jusqu'à ce que vos biceps sont entièrement contractés et les haltères sont au niveau des épaules.</br>
    4. Maintenez la position contractée pour un deuxième que vous serrez les biceps.</br>
    Or, durant la position contractée , tournez votre poignet jusqu'à ce que vous avez maintenant un ( paumes vers le bas ) prise en pronation avec le pouce à une position plus élevée que l'auriculaire.
    Lentement commencer à apporter les haltères vers le bas par la poignée en pronation .
    Comme les haltères fermer vos cuisses , commencer à tourner le poignet de sorte que vous revenez à un ( paumes face à votre corps ) prise neutre .
    Répétez l'opération pour la quantité recommandée de répétitions .

</div>





<div class="span12">
        <%= link_to "Bras", bras_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
