<% provide(:title, 'Dip- version tricep') %>

<div class="center hero-unit">
       <h1>Dip- version tricep</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  triceps</br>
            D'autres muscles: poitrine, épaules </br>
            Niveau: débutant</br>
            Type de mécanique: compound</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

Choisissez 2 barres parallèles surélevées (hauteur égale d’environ la hauteur des épaules ou au moins les pectoraux).</br> Attraper les 2 barres avec les mains (prise neutre) et se suspendre au-dessus bras tendus.</br> Normalement les mains sont très légèrement plus écartées que les épaules (pas trop sinon le mouvement se transformera en exercice pour les pectoraux). Fléchissez les bras pour descendre tout le corps. Les avant-bras restent verticaux, ainsi que le buste.</br> Descendre jusqu’à ce que les bras soient parallèles au sol (coudes plus ou moins à 90°). L’amplitude sera définie par votre souplesse (cartilage sternal, épaules, insertion du triceps au coude sont des éléments à surveiller). Ne pas écarter les coudes durant la descente, pour ne pas trop faire intervenir les pectoraux. Les coudes partent donc en arrière.</br> De cette position, contracter fortement les triceps (contraction volontaire et basculez les coudes vers l’avant) pour remonter.</br> La remontée ne se fait jamais complètement (on s’arrête juste avant l’extension complète du coude pour ne pas mettre toute la charge sur cette articulation qui serait potentiellement non protégée).</br>



    <div class="span12">
        <%= link_to "Bras", bras_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
