<% provide(:title, 'Extensions au-dessus de la tête') %>

<div class="center hero-unit">
       <h1>Extensions au-dessus de la tête</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  triceps</br>
            D'autres muscles: poitrine, épaules </br>
            Niveau: débutant</br>
            Type de mécanique: compound</br>




        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

Assis prendre un haltère à deux mains, et la lever au dessus de la tête, bras tendus L'haltère peut être tenu en pronation par les disques ou en prise marteau. Nombreux sont ceux qui trouvent la prise marteau plus naturelle, donc à vous d'essayer et de choisir la prise qui vous convient le mieux.</br>

Inspirez, et réalisez une flexion des avant-bras vers l'arrière, pour amener l'haltère derrière la nuque. Le but est de ne bouger que les avant-bras, en essayant de ne pas faire bouger les bras.</br>

Sans faire de rebond en position basse (pour ne pas abimer le coude), remontez l'haltère à la force des triceps, et expirez une fois arrivé en haut. Pendant tout le mouvement, les bras ne doivent pas bouger, et la sangle abdominale doit rester gainée, pour ne pas cambrer le dos. Pour plus de sécurité, vous pouvez aussi faire cet exercice adossé à un dossier. </br>


</div>


    <div class="span12">
        <%= link_to "Bras", bras_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
