<% provide(:title, 'Curl barre') %>

<div class="center hero-unit">
       <h1>Curl barre</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  biceps </br>
            D'autres muscles: avant bras</br>
            Niveau: débutant</br>
            Type de mécanique: isolation</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
1. Levez-vous avec votre torse droit tout en tenant une barre à une prise de la largeur des épaules. La paume de vos mains doit être tourné vers l'avant et les coudes devrait être proche de la torse. Ce sera votre position de départ.</br>
     2. Tout en maintenant les bras immobiles, recourber les poids vers l'avant tout en contractant les biceps que vous expirez. Astuce: Seuls les avant-bras doivent bouger.</br>
     3. Continuer le mouvement jusqu'à ce que vos biceps sont entièrement contractés et le bar est au niveau de l'épaule. Maintenez la position contractée pour un deuxième et presser les biceps dur.</br>
     4. Lentement commencer à mettre la barre en position de départ comme respirer.</br>
     5. Répétez l'opération pour la quantité recommandée de répétitions.</br>

Variations:</br>

     Vous pouvez également effectuer ce mouvement en utilisant une barre de fixation directement accroché à une poulie basse. Cette variation semble donner vraiment une bonne contraction au sommet du mouvement.</br>
     Vous pouvez également utiliser la poignée de plus près à des fins de variétés.</br>

</div>






    <div class="span12">
        <%= link_to "Bras", bras_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
