<% provide(:title, 'Body up') %>

<div class="center hero-unit">
       <h1>Body up</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  triceps</br>
            D'autres muscles: abdominaux, avant-bras </br>
            Niveau: intermédiaire</br>
            Type de mécanique: compound</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
1. Prendre une position de la planche sur le sol. Vous devez être soutenez votre poids sur vos orteils et les avant-bras, en gardant votre torse droit. Vos avant-bras doivent être la largeur des épaules. Ce sera votre position de départ.</br>
     2. Appuyant sur vos paumes fermement dans le sol, s'étendre à travers les coudes pour augmenter votre corps à partir du sol. Gardez votre torse rigide que vous effectuez le mouvement.</br>
     3. Abaissez lentement vos avant-bras vers le sol en permettant aux coudes à fléchir.
     Répétez.</br>


    <div class="span12">
        <%= link_to "Bras", bras_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
