<% provide(:title, 'Hammer curl- incliné') %>

<div class="center hero-unit">
       <h1>Hammer curl- incliné</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  biceps (bon pour faire les arrondis)</br>
            D'autres muscles: avant bras</br>
            Niveau: débutant</br>
            Type de mécanique: isolation</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
1. Asseyez-vous sur un banc incliné avec un haltère dans chaque main. Vous devriez pressé fermement contre le dos avec vos pieds ensemble. Autoriser les haltères pour accrocher vers le bas à vos côtés, en les tenant avec une prise neutre. Ce sera votre position de départ.</br>
2. Initier le mouvement en flexion au niveau du coude, en essayant de garder le bras supérieur fixe.</br>
3. Continuer vers le haut du mouvement et la pause, puis revenez lentement à la position de départ.</br>



</div>





<div class="span12">
        <%= link_to "Bras", bras_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
