<% provide(:title, 'Dip- version tricep') %>

<div class="center hero-unit">
       <h1>Dip- version tricep</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  triceps</br>
            D'autres muscles: poitrine, épaules </br>
            Niveau: débutant</br>
            Type de mécanique: compound</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

1. Pour entrer dans la position de départ, maintenez votre corps a un lien de dépendance avec vos bras près verrouillés dessus des barres.</br>
     2. Maintenant, inspirez lentement et abaissez-vous vers le bas. Votre torse doit rester debout et vos coudes doivent rester près de votre corps. Cela permet de mieux se concentrer sur la participation des triceps. Abaissez-vous qu'il y ait un angle de 90 degrés formé entre le bras et l'avant-bras.
     3. Puis, expirez et pousser votre torse en arrière à l'aide de vos triceps pour ramener votre corps à la position de départ.</br>
     4. Répétez le mouvement pour le montant prescrit de répétitions.</br>

Variations:</br> Si vous êtes nouveau à cet exercice et ne pas avoir la force de l'exécuter, utiliser un plongeon aider machine si disponible. Ces machines utilisent poids pour vous aider à pousser votre poids corporel.</br>

Sinon, un observateur tenant vos jambes peut vous aider.</br>

Poussoirs plus avancés peuvent ajouter du poids à l'exercice en utilisant une ceinture de poids qui permet l'ajout de plaques pondérés.</br>



    <div class="span12">
        <%= link_to "Bras", bras_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
