<% provide(:title, 'Curl concentration') %>

<div class="center hero-unit">
       <h1>Curl concentration</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  biceps </br>
            D'autres muscles: avant bras</br>
            Niveau: débutant</br>
            Type de mécanique: isolation</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
Assis sur un banc ou une chaise, le dos droit et légèrement penché en avant, le bras perpendiculaire au sol, le coude appuyé sur l’intérieur de la cuisse près du genou, et la main en pronation qui tient l’haltère. Monter la charge avec le biceps sans tricher en se balançant en arrière, et sans bouger les jambes. Terminer le mouvement main en supination (paume des mains vers soi). Il faut travailler un bras après l’autre.</br> 

</div>





<div class="span12">
        <%= link_to "Bras", bras_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
