<% provide(:title, 'Curl concentration') %>

<div class="center hero-unit">
       <h1>Curl concentration</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  biceps </br>
            D'autres muscles: avant bras</br>
            Niveau: débutant</br>
            Type de mécanique: isolation</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
1. Asseyez-vous sur un banc plat avec un haltère en face de vous entre vos jambes . Vos jambes doivent être répartis avec vos genoux pliés et les pieds sur le sol.</br>
    2. Utilisez votre bras droit de choisir le haltère . Placez le dos de votre bras droit sur ​​le haut de votre cuisse droite. Tourner la paume de votre main jusqu'à ce qu'il soit tourné vers l'avant à partir de votre cuisse . Astuce: Votre bras doit être étendue et l'haltère devrait être au-dessus du sol . Ce sera votre position de départ.</br>
    3. Tout en tenant le bras fixe supérieure , recourber les poids vers l'avant tout en contractant les biceps que vous expirez . Seuls les avant-bras doivent bouger. Continuer le mouvement jusqu'à ce que vos biceps sont entièrement contractés et les haltères sont au niveau des épaules . Astuce: Au sommet du mouvement assurez-vous que le petit doigt de votre bras est plus élevé que le pouce . Cela garantit une bonne contraction . Maintenez la position contractée pour un deuxième que vous serrez les biceps.</br>
    4. Lentement commencer à apporter les haltères à la position de départ comme respirer po Attention: Éviter les mouvements d'oscillation à tout moment.</br>
    5. Répétez l'opération pour la quantité recommandée de répétitions . Ensuite, répétez le mouvement avec le bras gauche.</br>

Variantes: </br>Cet exercice peut être effectué debout avec le buste penché en avant et le bras en face de vous . Dans ce cas , pas de support de jambe est utilisé pour le dos de votre bras et vous aurez besoin de faire un effort supplémentaire pour s'assurer qu'aucun mouvement de la partie supérieure du bras . Il s'agit d'une version plus difficile de l'exercice et n'est pas recommandé pour les personnes ayant des.</br>

</div>





<div class="span12">
        <%= link_to "Bras", bras_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
