<% provide(:title, 'Soulevé de terre') %>

<div class="center hero-unit">
       <h1>Soulevé de terre</h1>
        
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  dos(tout le dos. Si vous pouvez faire juste une exercice pour le dos, c'est celui-là)</br>
            D'autres muscles: veaux, avant-bras, fessiers, ischio-jambiers, lats, quadriceps, pièges</br>
            Niveau: intermédiaire</br>
            Type de mécanique: compound</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

Lie face vers le bas sur un banc d'hyperextension , rentrant vos chevilles solidement sous les pattes .
    Réglez le patin supérieur si possible afin que vos cuisses reposent à plat sur ​​le large tapis , laissant assez de place pour vous de plier à la taille , sans aucune restriction .
    Avec votre corps droit , croiser les bras en face de vous ( ma préférence ) ou derrière votre tête . Ce sera votre position de départ . Astuce: Vous pouvez également maintenir une plaque de poids pour la résistance supplémentaire en face de vous dans vos bras croisés .
    Lancer flexion vers l'avant lentement à la taille aussi loin que vous pouvez tout en gardant votre dos bien à plat . Inspirez en vous effectuez ce mouvement . Continuer à avancer jusqu'à ce que vous sentiez un étirement agréable sur les ischio-jambiers et vous ne pouvez plus continuer sans un arrondi du dos . Astuce: Ne jamais autour de l'arrière que vous effectuez cet exercice . Aussi, certaines personnes peuvent aller plus loin que d'autres. L'essentiel est que vous allez aussi loin que votre corps vous permet sans arrondir le dos.
    Soulevez lentement votre torse à la position initiale en inspirant. Astuce: Évitez la tentation de cambrer votre dos passé une ligne droite . Aussi, ne pas balancer le torse à tout moment afin de protéger le retour de blessure .
    Répétez l'opération pour la quantité recommandée de répétitions .

Variantes: Cet exercice peut également être réalisée sans un banc d'hyperextension , mais dans ce cas vous aurez besoin d'un observateur . En outre, un exercice similaire à celui-ci est le bon matin et le soulevé de terre jambes raides .

</div>


    <div class="span12">
        <%= link_to "Dos", dos1_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
