<% provide(:title, 'Chin Ups') %>

<div class="center hero-unit">
       <h1>Chin Ups</h1>
        
       
        
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: dorsaux</br>
            D'autres muscles: biceps, avant bras, moyen dos</br>
            Niveau: débutant</br>
            Type de mécanique: compound</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
1. Prenez la barre de traction avec les paumes tournées vers le torse et une poignée plus étroite que la largeur des épaules.</br>
    2. Comme vous avez les deux bras tendus devant vous en tenant la barre à la largeur de la poignée choisie , gardez votre torse aussi droite que possible , tout en créant une courbure sur le bas du dos et coller votre poitrine en avant . Ceci est votre position de départ . Astuce: Garder le torse aussi droit que possible maximise biceps stimulation tout en minimisant dos participation.</br>
    3. Comme vous expirez , tirez votre torse jusqu'à ce que votre tête est autour du niveau de la barre de pull-up . Concentrez-vous sur l'aide des muscles biceps afin d'effectuer le mouvement . Gardez les coudes près de votre corps . Astuce: La partie supérieure du torse doit rester immobile comme il se déplace à travers l'espace et que les bras doivent bouger. Les avant-bras doivent faire aucun autre travail autre que de tenir la barre.</br>
    4. Après une seconde de serrer les biceps dans la position contractée , abaissez lentement votre torse vers la position de départ , quand vos bras sont en extension complète . Inspirez en vous effectuez cette partie du mouvement.</br>
    5. Répétez ce mouvement pour le montant prescrit de répétitions.</br>

Variations:</br>

    Si vous êtes nouveau à cet exercice et ne pas avoir la force de l'exécuter , utiliser un pull-up aider machine si disponible . Ces machines utilisent poids pour vous aider à pousser votre poids corporel .</br>
    Sinon , un observateur tenant vos jambes peut vous aider.</br>
    D'autre part , les poussoirs plus avancés peuvent ajouter du poids à l'exercice en utilisant une ceinture de poids qui permet l'ajout de plaques pondérés.</br>
</div>


 


    <div class="span12">
        <%= link_to "Dos", dos1_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
