<% provide(:title, 'Hyperextensions (Extensions dos)') %>

<div class="center hero-unit">
       <h1>Hyperextensions (Extensions dos)</h1>
        
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  dos</br>
            D'autres muscles: fessiers, ischio-jambiers</br>
            Niveau: débutant</br>
            Type de mécanique: isolation</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

Cet exercice demande un banc spécifique Placez vos mollets sous les supports de jambes et vos abdominaux sur le pupitre. Penchez votre buste vers l'avant en direction du sol Placez vos mains derrière la nuque. Relevez votre buste en pour revenir à une position droit en soufflant Contrôlez votre descente jusqu'à la position d'origine en inspirant.</br>

</div>


    <div class="span12">
        <%= link_to "Dos", dos1_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
