<% provide(:title, 'Superman') %>

<div class="center hero-unit">
       <h1>Superman</h1>
        
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: dos</br>
            D'autres muscles: fessiers, ischio-jambiers</br>
            Niveau: débutant</br>
            Type de mécanique: compound</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

Allongé sur le sol ventre à terre, il faut tendre les bras devant vous et bien tendre les jambes.</br>

Il s’agit ensuite de soulevé simultanément les bras et les jambes afin qu’il reste un minimum de votre corps en contact avec le sol. Tenir la position pendant 2 secondes puis relâcher. Le nombre de répétitions varie en fonction du programme que vous suivez.</br>

Variation : Vous pouvez faire un bras et une jambe à la fois, c'est-à-dire, le bras gauche avec la jambe gauche puis ensuite le bras droit avec la jambe droite.</br>
</div>


    <div class="span12">
        <%= link_to "Dos", dos1_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
