<% provide(:title, 'Soulevé de terre- jambes raides') %>

<div class="center hero-unit">
       <h1>Soulevé de terre- jambes raides</h1>
        
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: dos</br>
            D'autres muscles: fessiers, ischio-jambiers</br>
            Niveau: débutant</br>
            Type de mécanique: compound</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

Les jambes sont tendues et les pieds sont dans l’alignement du bassin. Le dos droit et la cambrure naturelle du bas du dos respectée, fléchir très légèrement les genoux, les pieds rapprochés et les mains en pronation avec un écartement égale à la largeur des épaules.</br>

Penser à regarder devant soi pendant l'exécution de l'exercice de musculation et ne fixez pas le regard au sol.</br>

Descendre la barre jusqu'à mi-mollets puis remonter en gardant la tension dans les ischios et les fessiers. Ne pas prendre trop lourd et ne pas descendre au dessous de la hauteur mi-mollets.</br>

</div>
    <div class="span12">
        <%= link_to "Dos", dos1_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
