<% provide(:title, 'Poignée inverse courbé rowing') %>

<div class="center hero-unit">
       <h1>Poignée inverse courbé rowing</h1>
        
       
        
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: dos</br>
            D'autres muscles: biceps, lats, épaules</br>
            Niveau: intermédiaire</br>
            Type de mécanique: compound</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

L'exercice s'effectue debout. Cet exercice peut se faire sur une machine (poulie basse), avec une barre ou des haltères Buste incliné, tête relevée, jambes écartées, genoux fléchis. Saisissez la barre ou les haltères, vos deux mains écartées dans l'axe des épaules, les paumes vers le bas (pronation). Le dos doit être bien droit et ne pas se voûter durant l'exercice. Seuls les bras exécutent le mouvement. Tirez sur la barre ou les haltères en soufflant.</br>


</div>


 


    <div class="span12">
        <%= link_to "Dos", dos1_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
