<% provide(:title, 'Poignée inverse courbé rowing') %>

<div class="center hero-unit">
       <h1>Poignée inverse courbé rowing</h1>
        
       
        
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: dos</br>
            D'autres muscles: biceps, lats, épaules</br>
            Niveau: intermédiaire</br>
            Type de mécanique: compound</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

1. Se tenir debout tout en maintenant une barre avec une prise en supination ( paumes vers le haut ).</br>
    2. Pliez légèrement les genoux et apporter votre torse vers l'avant , en pliant à la taille , tout en gardant le dos droit jusqu'à ce qu'il soit presque parallè
le au sol. Astuce: Assurez-vous que vous gardez la tête haute . La barre doit accrocher directement en face de vous que vos bras pendre perpendiculaire au sol et votre torse . Ceci est votre position de départ.</br>
    3. Tout en gardant à l'arrêt du torse , lever la barre que vous expirez , en gardant les coudes près du corps et ne pas faire de la force avec l'avant-bras autre que la tenue des poids . Sur la position de haut contracté , serrer les muscles du dos et maintenez pendant une seconde.</br>
    4. Abaissez lentement à nouveau le poids à la position de départ que vous inspirez.</br>
    5. Répétez l'opération pour la quantité recommandée de répétitions.</br>

Attention:</br>

    Cet exercice n'est pas recommandé pour les personnes ayant des problèmes de dos . Une poulie basse Row est un meilleur choix pour les personnes ayant des problèmes de dos.</br>
    Aussi, tout comme avec le genou plié morts - ascenseur, si vous avez un dos en bonne santé , d'assurer une forme parfaite et jamais en reste l'arrière vers l'avant , car cela peut causer des blessures au dos.
    Soyez prudent aussi bien avec le poids utilisé , en cas de doute , utiliser moins de poids plutôt que plus.</br>

Variantes: </br>Vous pouvez effectuer le même exercice en utilisant un ( paumes vers le haut) prise en pronation ou en utilisant des haltères.</br>


</div>


 


    <div class="span12">
        <%= link_to "Dos", dos1_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
