<% provide(:title, 'Rowing un bras') %>

<div class="center hero-unit">
       <h1>Rowing un bras</h1>
        
       
        
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: dos</br>
            D'autres muscles: biceps, lats, épaules</br>
            Niveau: débutant</br>
            Type de mécanique: compound</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

L'exercice s'effectue debout, avec un haltère, en plaçant un genou sur un banc droit. Buste incliné, dos bien droit, conservez l'équilibre avec une main posée sur le banc.</br> De l'autre main prenez l'haltère, bras tendu vers le bas, paume vers le corps.</br> Pliez votre bras jusqu'à être dans le prolongement de votre corps en fléchissant le coude. Le but est de faire en sorte que le bras (donc de l’épaule au coude) passe de la position perpendiculaire au buste à parallèle au buste pour ensuite retendre le bras.</br> Soufflez en montant l'haltère, inspirez en revenant à la position de départ.</br>


</div>


 


    <div class="span12">
        <%= link_to "Dos", dos1_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
