<% provide(:title, 'Rowing un bras') %>

<div class="center hero-unit">
       <h1>Rowing un bras</h1>
        
       
        
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: dos</br>
            D'autres muscles: biceps, lats, épaules</br>
            Niveau: débutant</br>
            Type de mécanique: compound</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

1. Utiliser un banc plat et placer un haltère de chaque côté de celui-ci.</br>
    2. Placez la jambe droite au-dessus de l' extrémité du banc , pliez le torse vers l'avant de la ceinture jusqu'à ce que le haut du corps est parallèle au sol , et placez votre main droite sur l'autre extrémité du banc de soutien.</br>
    3. Utilisez la main gauche pour ramasser les haltères sur le sol et supporter le poids tout en gardant votre dos droit . La paume de la main doit être tournée vers le torse . Ce sera votre position de départ.</br>
    4. Tirez la résistance vers le haut sur ​​le côté de votre poitrine, en gardant votre bras près de votre côté et le maintien à l'arrêt du torse. Expirez en vous effectuez cette étape . Astuce: Concentrez-vous sur serrant les muscles du dos une fois que vous atteignez la position totale du contrat . Aussi , assurez-vous que la force est effectué avec les muscles du dos et pas les bras . Enfin , la partie supérieure du torse doit rester immobile et seuls les bras doivent bouger. Les avant-bras doivent faire aucun autre travail, sauf pour la tenue de l'haltère , par conséquent, ne pas essayer de tirer l'haltère à l'aide des avant-bras.</br>
    5. Abaisser la résistance vers le bas à la position de départ . Inspirez en vous effectuez cette étape.</br>
    6. Répétez le mouvement pour la quantité spécifiée de répétitions.</br>
    7. Changez de côté et répétez avec l'autre bras.</br>

Variations:</br> lignes avec un seul bras peuvent également être effectuées à l'aide d'une poulie haute ou une poulie basse au lieu d'un haltère.</br>


</div>


 


    <div class="span12">
        <%= link_to "Dos", dos1_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
