<% provide(:title, 'Rowing inversé') %>

<div class="center hero-unit">
       <h1>Rowing inversé</h1>
        
       
        
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: dos</br>
            D'autres muscles: lats</br>
            Niveau: débutant</br>
            Type de mécanique: compound</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

1. Placez une barre dans un rack à hauteur de la taille. Vous pouvez également utiliser une machine smith.</br>
     2. Prenez une plus large que la largeur des épaules emprise sur la barre et vous positionner suspendu sous la barre. Votre corps doit être droit avec vos talons sur le sol avec vos bras en pleine extension. Ce sera votre position de départ.</br>
     3. Commencez par la flexion du coude, en tirant votre poitrine vers le bar. Rentrez vos omoplates que vous effectuez le mouvement.</br>
     4. Pause au sommet de la motion, et revenir vous à la position de départ.</br>
     5. Répétez l'opération pour le nombre désiré de répétitions.</br>


</div>


 


    <div class="span12">
        <%= link_to "Dos", dos1_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
