<% provide(:title, 'Pull Ups') %>

<div class="center hero-unit">
       <h1>Pull Ups</h1>
        
       
        
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: dorsaux</br>
            D'autres muscles: biceps, moyen dos</br>
            Niveau: intermédiaire</br>
            Type de mécanique: compound</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
1. Attachez un poids à une ceinture d'immersion et le fixer autour de votre taille. Prenez la barre de traction avec les paumes de vos mains tournées vers l'avant. Pour une poignée support, vos mains doivent être espacés de la largeur des épaules. Les deux bras doivent être étendues en face de vous tenir la barre à la poignée choisie.</br>
     2. Vous voulez apporter votre torse en arrière d'environ 30 degrés tout en créant une courbure dans le bas du dos et coller votre poitrine en avant. Ce sera votre position de départ.</br>
     3. Maintenant, expirez et tirez votre torse jusqu'à ce que votre tête est au-dessus de vos mains. Concentrez-vous sur serrant yourshoulder lames arrière et vers le bas lorsque vous atteignez la position de haut contracté.</br>
     4. Après un bref instant la position au sommet contracté, inspirez et abaissez lentement votre torse à la position de départ avec vos bras tendus et vos lats entièrement tendus.</br>
 Variations:</br> Si vous ne pouvez pas faire 8 sans poids, pour finir le set sautez (utilisez une boite si vous voulez) et juste vous abaissez lentement que vous le pouvez.


</div>


 


    <div class="span12">
        <%= link_to "Dos", dos1_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
