<% provide(:title, 'Car drivers') %>

<div class="center hero-unit">
       <h1>Car drivers</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  épaules</br>
            D'autres muscles: avant-bras</br>
            Niveau: débutant</br>
            Type de mécanique: isolation</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
1. Alors que debout, maintenir une plaque de barre dans les deux mains dans les positions 3 et 09 heures. Vos paumes devraient être confrontés à l'autre et vos bras devraient être étendues directement en face de vous. Ce sera votre position de départ.</br>
     2. Initier le mouvement de rotation de la plaque dans la mesure d'un côté que possible. Utilisez le même type de mouvement que vous souhaitez utiliser pour tourner un volant d'un côté.</br>
     3. Inverser le mouvement, tournant tout le chemin vers le côté opposé.</br>
     4. Répétez l'opération pour la quantité recommandée de répétitions.</br>

</div>


    <div class="span12">
        <%= link_to "Épaules", epaules_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
