<% provide(:title, 'Rowing barre- version delt arrière') %>

<div class="center hero-unit">
       <h1>Rowing barre- version delt arrière</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  épaules</br>
            D'autres muscles: biceps, lats, moyen dos</br>
            Niveau: débutant</br>
            Type de mécanique: compound</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

1. Tenez-vous droit tout en tenant un haltère en utilisant une grande ( supérieure à la largeur des épaules ) et en pronation ( les paumes vers votre corps ) poignée.</br>
    2. Pliez légèrement les genoux et se pencher que vous gardez l'arche naturelle de votre dos . Laissez les bras pendre en face de vous , car ils tiennent la barre . Une fois que votre torse est parallèle à la chaussée , éclater les coudes sur et à l'extérieur de votre corps . Astuce: Votre torse et vos bras doivent ressembler à la lettre "T" . Maintenant, vous êtes prêt à commencer l'exercice.</br>
    3. Tout en gardant les bras perpendiculaire au torse , tirer la barre vers votre poitrine comme vous serrez les deltoïdes postérieurs et vous expirez . Astuce: Quand elle est réalisée correctement , cet exercice devrait ressembler à une presse de banc dans le sens inverse . Aussi , évitez d'utiliser vos biceps pour faire le travail . Se concentrer sur le ciblage des deltoïdes postérieurs , les bras ne doivent agir comme des crochets.</br>
    4. Lentement revenir à la position initiale que vous respirez.</br>
    5. Répétez l'opération pour la quantité recommandée de répétitions.</br>

Variantes: </br>Vous pouvez effectuer cet exercice en utilisant une machine smith ou un T- bar rangée . Vous pouvez également utiliser la poulie basse , tant que vous utilisez un grand attachement à barres de préhension.</br>
</div>


    <div class="span12">
        <%= link_to "Épaules", epaules_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
