<% provide(:title, 'Elévations devant') %>

<div class="center hero-unit">
       <h1>Elévations devant</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  épaules</br>
            Niveau: débutant</br>
            Type de mécanique: isolation</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
L'exercice s'effectue debout. Cet exercice doit se faire avec des haltères.</br> Saisissez les haltères, vos deux mains écartées dans l'axe des épaules, les paumes vers le bas (pronation), Les bras le long du corps.</br> Le dos doit être bien droit et ne pas se voûter durant l'exercice. Tendez un bras face à vous sans plier les coudes, jusqu'à une position horizontale.</br> Souffler en effectuant le mouvement.</br> Inspirer lors de la descente du bras, puis enchaîner avec l'autre bras.</br> Attention, cet exercice peut être stressant pour les articulations des épaules.</br> 

</div>


    <div class="span12">
        <%= link_to "Épaules", epaules_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
