<% provide(:title, 'Arnold développé haltère') %>

<div class="center hero-unit">
       <h1>Arnold développé haltère</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  épaules</br>
            D'autres muscles: triceps</br>
            Niveau: intermédiaire</br>
            Type de mécanique: compound</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

Nommé d'après Arnold Schwarzenegger!
    1. Asseyez-vous sur un banc d'exercice avec dossier et tenir deux haltères en face de vous , à la hauteur de la poitrine avec les paumes vers votre corps et votre coudes pliés . Astuce: Vos bras doivent être à côté de votre torse . La position de départ devrait ressembler à la partie contractée d'une boucle d'haltères.</br>
    2. Maintenant, pour effectuer le mouvement , soulever les haltères que vous tournez les paumes de vos mains jusqu'à ce qu'ils soient orientés vers l'avant.</br>
    3. Continuer soulever les haltères jusqu'à ce que vos bras sont tendus au dessus de vous dans la position du bras droit . Expirez en vous effectuez cette partie du mouvement.</br>
    4. Après une deuxième pause au sommet , commencer à abaisser les haltères à la position initiale en tournant les paumes de vos mains vers vous . Astuce: Le bras gauche est tourné dans le sens horaire de manière compteur tandis que la droite va être tourné dans le sens horaire . Inspirez en vous effectuez cette partie du mouvement.</br>
    5. Répétez l'opération pour la quantité recommandée de répétitions</br>

Variantes: </br>Vous pouvez effectuer l'exercice debout mais qui n'est pas recommandé pour les personnes ayant des problèmes au bas du dos .


</div>


    <div class="span12">
        <%= link_to "Épaules", epaules_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
