<% provide(:title, 'Elévations delt, assis et courbé') %>

<div class="center hero-unit">
       <h1>Elévations delt, assis et courbé</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  épaules</br>
            Niveau: intermédiaire</br>
            Type de mécanique: isolation</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
1. Placez un couple d'haltères avec impatience devant un banc plat.</br>
     2. Asseyez-vous sur le bout du banc, les jambes ensemble et les haltères derrière vos mollets.</br>
     3. Plier à la taille tout en gardant le dos droit afin de ramasser les haltères. Les paumes de vos mains doivent être orientées vers l'autre que vous les prenez. Ce sera votre position de départ.</br>
     4. Garder votre torse vers l'avant et fixe, et les bras légèrement pliés aux coudes, soulevez les haltères vers le côté jusqu'à ce que les deux bras sont parallèles au sol. Expirez lorsque vous soulevez des poids. (Remarque: éviter balançant le torse ou amener les bras dans le dos plutôt que sur le côté.)</br>
     5. Après une seconde d'contraction en haut, abaissez lentement les haltères à la position de départ.</br>
     6. Répétez l'opération pour la quantité recommandée de répétitions.</br>

Variante: </br>Cet exercice peut également être effectuée debout mais ceux qui ont des problèmes de dos inférieurs sont mieux effectuer cette variété assis.</br>


</div>


    <div class="span12">
        <%= link_to "Épaules", epaules_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
