<% provide(:title, 'Un seul bras linéaire Jammer') %>

<div class="center hero-unit">
       <h1>Un seul bras linéaire Jammer</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  épaules (
Avant et latérale accent de tête)</br>
            D'autres muscles: poitrine, triceps </br>
            Niveau: intermédiaire</br>
            Type de mécanique: compound</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

1. Placez une barre dans une mine ou solidement ancrer dans un coin. Chargez la barre à un poids approprié.</br>
     2. Relever la barre à partir du plancher, le prendre à vos épaules avec une ou deux mains. Adopter une position large. Ce sera votre position de départ.</br>
     3. Effectuez le mouvement en étendant le coude, en appuyant sur le poids vers le haut. Déplacez explosive, étendre les hanches et les genoux bien pour produire une force maximale.</br>
     4. Revenir à la position de départ.</br>
     J'aime faire surensembles, faire chaque bras puis terminer en utilisant les deux.</br>


</div>


    <div class="span12">
        <%= link_to "Épaules", epaules_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
