<% provide(:title, 'Elévations latérales') %>

<div class="center hero-unit">
       <h1>Elévations latérales</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  épaules</br>
            Niveau: débutant</br>
            Type de mécanique: isolation</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

1. Choisissez un couple d'haltères et tenir avec un buste droit et les haltères à vos côtés à bout de bras avec les paumes de la main en face de vous. Ce sera votre position de départ.</br>
     2. Tout en maintenant le torse en position stationnaire (pas balancer), soulever les haltères à vos côtés avec un léger virage sur le coude et les mains légèrement incliné vers l'avant, comme si verser de l'eau dans un verre. Continuer à monter jusqu'à ce que vous les bras sont parallèles au sol. Expirez en vous exécutez ce mouvement et mettre en pause pendant une seconde sur le dessus.</br>
     3. Abaissez les haltères lentement à la position de départ que vous inspirez.</br>
     4. Répétez l'opération pour la quantité recommandée de répétitions.</br>

Variante: </br>Cet exercice peut également être réalisée en position assise.</br>

</div>


    <div class="span12">
        <%= link_to "Épaules", epaules_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
