
<% provide(:title, 'Haltères Allongé Un-bras latéral arrière élever') %>

<div class="center hero-unit">
       <h1>Haltères Allongé Un-bras latéral arrière élever</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  épaules</br>
            D'autres muscles: moyen dos</br>
            Niveau: intermédiaire</br>
            Type de mécanique: isolation</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

1. Asseyez-vous sur un banc de presse militaire avec une barre derrière la tête et soit avoir un spotter vous donne la barre ( mieux sur la coiffe des rotateurs de cette façon) ou chercher vous-même soigneusement avec une prise en pronation ( les paumes vers l'avant ) . Astuce: Votre poignée doit être plus large que la largeur des épaules et il devrait créer un angle de 90 degrés entre l'avant-bras et le haut du bras que la barre descend.</br>
    2. Une fois que vous prenez la barre à la longueur du grip , soulever la barre au-dessus de votre tête en verrouillant les bras . Maintenir à peu près au niveau de l'épaule et légèrement en avant de la tête . Ceci est votre position de départ.</br>
    3. Abaissez la barre jusqu'à la clavicule lentement que vous inspirez.</br>
    4. Soulevez la barre de retour à la position de départ en expirant.</br>
    5. Répétez l'opération pour la quantité recommandée de répétitions.</br>

Variations :</br>

    Cet exercice peut également être effectuée debout mais ceux qui ont des problèmes de dos inférieurs sont mieux effectuer cette variété assis.</br>
    Le derrière de la variation de cou n'est pas recommandé pour les personnes ayant des problèmes d'épaule comme il peut être difficile sur la coiffe des rotateurs en raison de l' hyperextension créé en amenant la barre derrière la nuque.</br>

</div>


    <div class="span12">
        <%= link_to "Épaules", epaules_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
