<% provide(:title, 'Elévations latérales') %>

<div class="center hero-unit">
       <h1>Elévations latérales</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  épaules</br>
            Niveau: débutant</br>
            Type de mécanique: isolation</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

L'exercice s'effectue debout, les jambes légèrement écartées. Cet exercice doit se faire avec deux haltères.</br> Le dos doit être bien droit et ne pas se voûter durant l'exercice.</br> Placez vos bras le long du corps, bras tendus, paumes vers le corps (pronation). Effectuez le mouvement en écartant les bras du corps jusqu'à une position horizontale, à la hauteur des épaules. Soufflez en montant les poids, Inspirez en descendant.</br>

</div>


    <div class="span12">
        <%= link_to "Épaules", epaules_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
