<% provide(:title, 'Développé militaire') %>

<div class="center hero-unit">
       <h1>Développé militaire</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  épaules</br>
            D'autres muscles: triceps</br>
            Niveau: intermédiaire</br>
            Type de mécanique: compound</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

L'exercice s'effectue assis, sur banc avec des haltères ou une barre.</br> Cuisses légèrement écartés.</br> Paume des mains vers le haut.</br> Le mouvement débute à la hauteur des épaules. Le dos doit être bien droit et ne pas se voûter durant l'exercice.</br> L'écartement des mains sur une barre modifie l'impact de l'exercice : Prise large pour les épaules et les bras, prise courte pour les pectoraux et le dos.</br> Pousser les poids vers le haut pour finir bras tendus.</br> Soufflez en montant les poids, Inspirez en descendant.</br> Cet exercice peut être risqué pour les muscles des épaules, notamment au moment de prendre la barre, l’idéal est d’avoir une personne en parade qui viendra aider à prendre la barre et à la reposer en toute sécurité.</br> 

</div>


    <div class="span12">
        <%= link_to "Épaules", epaules_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
