<% provide(:title, 'Clean et Presse') %>

<div class="center hero-unit">
       <h1>Clean et Presse</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  épaules</br>
            D'autres muscles: abdominaux, fessiers, mollets, ischio-jambiers, bas du dos, milieu du dos, quadriceps, pièges, triceps </br>
            Niveau: intermédiaire</br>
            Type de mécanique: compound</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

1. Adopter une attitude de la largeur des épaules , les genoux à l'intérieur des bras . Maintenant tout en gardant le dos plat , pliez les genoux et les hanches afin que vous puissiez saisir la barre avec les bras en pleine extension et une prise en pronation qui est légèrement plus large que la largeur des épaules . Dirigez les coudes sur les côtés . La barre doit être proche des tibias . Placez les épaules au-dessus ou légèrement en avant de la barre . Établir une posture du dos plat . Ce sera votre position de départ.</br>
    2. Commencer à tirer la barre en étendant les genoux . Déplacez vos hanches vers l'avant et lever les épaules à la même vitesse tout en conservant l'angle de l'arrière constant ; continuer à soulever la barre vers le haut tout en le gardant près de votre corps.</br>
    3. Comme la barre passe du genou , étendre au niveau des chevilles , les genoux et les hanches avec force , semblables à un mouvement de saut . Comme vous le faites , continuer à guider la barre avec les mains , en haussant les épaules et en utilisant l'élan de votre mouvement pour tirer la barre le plus haut possible . La barre doit voyager près de votre corps , et vous devez garder vos coudes.</br>
    4. À une altitude maximale , vos pieds doivent dégager le plancher et vous devriez commencer à vous tirer sous la barre. La mécanique de ce qui pourrait modifier légèrement , en fonction de la masse utilisée . Vous devez descendre dans une position accroupie que vous vous tirez dans le bar.</br>
    5. Comme la barre touche la hauteur terminal, tourner les coudes autour et sous la barre . Soutirer le bar sur le devant des épaules tout en gardant le torse droit et fléchissant les hanches et les genoux pour absorber le poids de la barre.</br>
    6. Support à pleine hauteur , tenant la barre dans la position propre.</br>
    7. Sans bouger vos pieds , appuyez sur la tête de la barre que vous expirez . Abaissez la barre sous contrôle.</br>.

</div>


    <div class="span12">
        <%= link_to "Épaules", epaules_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
