<% provide(:title, 'Mollets elévation- Smith machine') %>

<div class="center hero-unit">
       <h1>Mollets elévation- Smith machine</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  mollets </br>
            Niveau: débutant</br>
            Type de mécanique: isolation</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
1. Placez un bloc ou une plaque de poids en dessous de la barre sur la machine Smith. Placer la barre à un poste qui correspond le mieux à votre taille. Une fois la bonne hauteur est choisie et la barre est chargée, montez sur les plaques avec les boules de vos pieds et placer la barre sur le dos de vos épaules.</br>
     2. Prenez la barre avec les deux mains vers l'avant. Tournez la barre de unrack il. Ce sera votre position de départ.</br>
     3. Levez les talons aussi haut que possible en repoussant les boules de vos pieds, fléchir votre mollet en haut de la contraction. Vos genoux doivent rester étendu. Maintenez la position contractée pendant une seconde avant de commencer à redescendre.</br>
     4. Revenez lentement à la position de départ que vous inspirez tout en réduisant vos talons.</br>
     5. Répétez l'opération pour la quantité recommandée de répétitions.</br>

Variantes: vous pouvez utiliser des haltères ou une barre aussi.</br>

</div>






    <div class="span12">
        <%= link_to "Jambes", jambes_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
