<% provide(:title, 'Squat') %>

<div class="center hero-unit">
       <h1>Squat</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: quadriceps </br>
            D'autres muscles: mollets, fessiers, ischio-jambiers, le bas du dos</br>
            Niveau: débutant</br>
            Type de mécanique: composé</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
1. Cet exercice est mieux réalisée à l'intérieur d'un rack squat pour des raisons de sécurité . Pour commencer , définissez d'abord la barre sur une grille juste au-dessous du niveau des épaules . Une fois la bonne hauteur est choisie et la barre est chargée , pas sous la barre et placez le dos de vos épaules (un peu en dessous du cou ) à travers elle.</br>
    2. Accrochez-vous à la barre avec les deux bras de chaque côté et soulevez- le rack d'abord en poussant avec les jambes et dans le même temps redresser le torse.</br>
    3. Éloignez-vous de la grille et la position de vos jambes en utilisant une position moyenne de la largeur des épaules , les orteils légèrement souligné . Gardez la tête haute en tout temps et aussi de maintenir le dos droit . Ce sera votre position de départ . ( Note: Aux fins de cette discussion, nous allons utiliser la position milieu décrit ci-dessus , qui vise le développement global , mais vous pouvez choisir l'une des trois positions discutées dans le pied tances section ).</br>
    4. Commencer à baisser lentement la barre en pliant les genoux et les hanches que vous maintenez une posture droite avec la tête . Continuer à descendre jusqu'à ce que l'angle entre la branche supérieure et les veaux devient légèrement inférieur à 90 degrés . Inspirez en vous effectuez cette partie du mouvement . Astuce: Si vous avez effectué l'exercice correctement , l'avant des genoux devrait faire une ligne droite imaginaire avec les orteils qui est perpendiculaire à l'avant . Si vos genoux sont passé cette ligne imaginaire ( si ils sont passé vos orteils ), puis vous placez un stress indu sur le genou et l'exercice a été effectué correctement.</br>
    5. Commencez à monter la barre que vous expirez en poussant le sol avec le talon de votre pied que vous vous redressez les jambes à nouveau et revenir à la position de départ.</br>
    6. Répétez l'opération pour la quantité recommandée de répétitions.</br>

Attention : </br>Ce n'est pas un exercice à prendre à la légère . Si vous avez des anciens numéros , substituer avec l'haltère variation squat ou une presse jambes à la place. Si vous avez un dos en bonne santé , d'assurer une forme parfaite et jamais en reste l'arrière vers l'avant , car cela peut causer des blessures au dos. Soyez prudent aussi bien avec le poids utilisé , en cas de doute , utiliser moins de poids plutôt que plus . Le squat est un exercice très sûr , mais seulement si elle est effectuée correctement.


</div>






    <div class="span12">
        <%= link_to "Jambes", jambes_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
