<% provide(:title, 'Soulevé de terre- jambes raides') %>

<div class="center hero-unit">
       <h1>Soulevé de terre- jambes raides</h1>
        
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: ischio-jambiers</br>
            D'autres muscles: bas du dos, fessiers</br>
            Niveau: intermédiaire</br>
            Type de mécanique: compound</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

1. Saisissez un bar en utilisant une prise en pronation ( paumes vers le bas ) . Vous devrez peut-être quelques bandages de poignet si vous utilisez une quantité significative de poids.</br>
    2. Tenez-vous droit du torse et les jambes espacées en utilisant une largeur d'épaule ou la position étroite . Les genoux doivent être légèrement fléchis . Ceci est votre position de départ.</br>
    3. En gardant les genoux stationnaire, abaisser la barre à au-dessus de vos pieds en fléchissant les hanches tout en gardant le dos droit . Continuer à avancer comme si vous alliez ramasser quelque chose sur le sol jusqu'à ce que vous sentiez un étirement sur ​​les muscles ischio-jambiers . Inspirez en vous effectuez ce mouvement.</br>
    4. Commencer à apporter votre torse redresse en étendant vos hanches jusqu'à ce que vous êtes de retour à la position de départ . Expirez en vous effectuez ce mouvement.</br>
    5. Répétez l'opération pour la quantité recommandée de répétitions</br>

Attention: </br>Ce n'est pas un exercice qui est recommandé pour les personnes ayant des problèmes au bas du dos . En outre, il doit être traité avec le plus grand respect accordant une attention particulière à ne pas arrondir le dos avant que vous vous déplacez vers le bas du torse , le dos doit toujours être droite . Enfin , saccadés mouvements ou de faire trop de poids peut blesser votre dos.</br>

Variantes:</br> L'exercice peut également être effectuée avec un haltère , comme décrit ci-dessus.</br>

</div>


    <div class="span12">
        <%= link_to "Jambes", jambes_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
