
<% provide(:title, 'Hip poussée') %>

<div class="center hero-unit">
       <h1>Hip poussée</h1>
    	
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal:  fessiers</br>
            D'autres muscles: mollets, ischio-jambiers</br>
            Niveau: intermédiaire</br>
            Type de mécanique: composé</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

    1. Commencez assis sur le sol avec une barre chargée sur vos jambes. En utilisant une barre de graisse ou d'avoir un tampon sur la barre peut considérablement réduire l'inconfort causé par cet exercice. Rouler la barre de sorte qu'il est directement au-dessus de vos hanches, et poser à plat sur ​​le sol.<br>
    2. Commencez le mouvement en parcourant avec vos talons, vos hanches s'étendant verticalement à travers la barre. Votre poids doit être supporté par le haut du dos et les talons de vos pieds.</br>
    3. S'étendre aussi loin que possible, puis inverser le mouvement pour revenir à la position de départ.</br>



</div>






    <div class="span12">
        <%= link_to "Jambes", jambes_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
