<% provide(:title, 'Jambes') %>

<div class="center hero-unit">
       <h1>Jambes</h1>
    	
       
</div>
    <div class="row-fluid">
    <div class="span6">
<h3>Cuisses</h3></br>
        <%= link_to "Squat", jambes1_path %></br>
        <%= link_to "Fente à pied- barre", jambes2_path %></br>

    </div>

    <div class="span6">
        <h3>Ischios, Mollets, Fessiers</h3></br>
        <%= link_to "Hip poussée", jambes3_path %></br>
        <%= link_to "Sauter sur une boîte", jambes4_path %>
    </div>

<div class="span4">
        <h3></h3></br>
        
        
   </div>
</div>
  



 