<% provide(:title, 'Ecarté couché incliné') %>

<div class="center hero-unit">
       <h1>Ecarté couché incliné</h1>
    	
       
</div>
    <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: Poitrine (supérieurs)</br>
            D'autres muscles: Epaules</br>
            Niveau: débutant</br>
            Type de mécanique: composé</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

     L'exercice se fait allongé sur un banc incliné, avec des haltères.</br>
Le dos bien à plat sur le banc, les pieds posés sur le sol.</br>
Dans la position initiale, les bras sont tendus au-dessus de la poitrine, coudes légèrement fléchis.</br>
Paumes des mains face-à-face.</br>
Écartez les bras jusqu'à avoir les bras écartés de chaque coté du corps, en conservant les coudes légèrement fléchis.</br>
Inspirez en écartant les bras, soufflez lorsque du retour a la position de départ.</br>

</div>






    <div class="span12">
        <%= link_to "Pectoraux", pectoraux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>