<% provide(:title, 'Pompes') %>

<div class="center hero-unit">
       <h1>Pompes</h1>
    	
       
</div>
    <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: poitrine</br>
            D'autres muscles: épaules, triceps</br>
            Niveau: débutant</br>
            Type de mécanique: composé</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

1. Allongez-vous sur le visage au sol et placez vos mains à environ 36 cm de distance tout en maintenant votre torse jusqu'à à bout de bras.</br>
     2. Ensuite, abaissez-vous vers le bas jusqu'à ce que votre poitrine touche presque le sol que vous inspirez.</br>
     3. Maintenant expirez et appuyez sur haut de votre corps jusqu'à la position de départ tout en serrant la poitrine.</br>
     4.Après une courte pause à la première position contractée, vous pouvez commencer à vous abaisser à nouveau à la baisse pour autant de répétitions que nécessaire.</br>

Variations:

Si vous êtes nouveau à cet exercice et ne pas avoir la force de l'exécuter, vous pouvez pliez vos jambes au niveau des genoux pour enlever la résistance ou effectuer l'exercice contre le mur à la place de la parole.</br>

Pour les poussoirs plus avancées, vous pouvez placer vos pieds sur une surface grande comme un banc afin d'augmenter la résistance et de cibler le haut de la poitrine plus.</br>
Aussi, pour renforcer la main et du poignet, faire poings et de mettre vos doigts sur le sol.</br>


</div>






    <div class="span12">
        <%= link_to "Pectoraux", pectoraux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>