<% provide(:title, 'Dips- version poitrine') %>

<div class="center hero-unit">
       <h1>Dips- version poitrine</h1>
    	
       
</div>
    <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: poitrine (inférieurs)</br>
            D'autres muscles: épaules, triceps</br>
            Niveau: intermédiaire</br>
            Type de mécanique: composé</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

   L'exercice se fait sur des barres parallèles ou sur une chaise romaine.</br>
Placez vos mains sur les barres, en équilibre.</br>
Le mouvement se fait en remontant le corps en poussant sur les bras.</br>
Dans la position finale les bras sont tendus.</br>
Soufflez en poussant sur vos bras, inspirez en revenant à la position précédente.</br>

</div>






    <div class="span12">
        <%= link_to "Pectoraux", pectoraux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>