
<% provide(:title, 'Pompes avec les pieds surélevés') %>

<div class="center hero-unit">
       <h1>Pompes avec les pieds surélevés</h1>
    	
       
</div>
    <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: Poitrine</br>
            D'autres muscles: Epaules, triceps</br>
            Niveau: débutant</br>
            Type de mécanique: composé</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

       1. Allongez-vous sur le visage au sol et placez vos mains à environ 36 cm de distance l'une de l'autre tenant le torse jusqu'à à bout de bras.</br>
     2. Placez vos orteils sur un banc plat. Cela permettra à votre corps à être élevée. Remarque: le plus élevé de l'élévation du banc plat, plus la résistance de l'exercice est.</br>
     3. Abaissez-vous jusqu'à ce que votre poitrine touche presque le sol que vous inspirez.</br>
     4. En utilisant vos muscles pectoraux, appuyez sur haut de votre corps jusqu'à la position de départ et presser la poitrine. Expirez en vous effectuez cette étape.</br>
     5. Après une pause d'une seconde à la position contractée, répétez le mouvement pour le montant prescrit de répétitions.</br>

Variations: </br>Une autre façon d'effectuer cet exercice est d'utiliser un ballon d'exercice pour élever votre corps au lieu d'un banc plat. Ceci ajoute un niveau de difficulté en raison de l'instabilité fourni.</br>


</div>






    <div class="span12">
        <%= link_to "Pectoraux", pectoraux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  