
<% provide(:title, 'Développé couché décliné') %>

<div class="center hero-unit">
       <h1>Développé couché décliné- prise large</h1>
    	
       
</div>
    <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: Poitrine (inférieurs)</br>
            D'autres muscles: Epaules, triceps</br>
            Niveau: intermédiaire</br>
            Type de mécanique: composé</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

L'exercice se fait allongé sur un banc décliné, avec un angle de 25 ° environ.</br>
Les fesses sur l'assise horizontale du banc, les épaules bien à plat sur le dossier incliné du banc, les pieds posés au sol.</br>
La barre doit être au dessus de la poitrine.</br>
Les coudes fléchis, bras et avant bras formant un angle droit, les paumes de main vers le haut (supination).</br>
Exercez une poussée vers le haut, jusqu'à avoir les bras tendus.</br>

</div>






    <div class="span12">
        <%= link_to "Pectoraux", pectoraux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
