<% provide(:title, 'Horloge pompes') %>

<div class="center hero-unit">
       <h1>Horloge pompes</h1>
    	
       
</div>
    <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: poitrine</br>
            D'autres muscles: épaules, triceps</br>
            Niveau: intermédiaire</br>
            Type de mécanique: composé</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

 1. Se déplacer dans une position couchée sur le sol, l'appui de votre poids sur vos mains et les orteils.</br>
    2. Vos bras doivent être entièrement étendues avec les mains autour de la largeur des épaules. Gardez votre corps droit tout au long du mouvement. Ce sera votre position de départ.</br>
     3. Descendez par la flexion au niveau du coude, de réduire votre poitrine vers le sol.</br>
    4. Au fond, inverser le mouvement par vous pousser à travers l'extension du coude aussi rapidement que possible jusqu'à ce que vous sont à la charge de l'air. But de â € œjumpâ €? 12-18 pouces d'un côté.</br>
     5. Comme vous accélérez, déplacez votre pied extérieur, loin de la direction de votre Voyage. En quittant le terrain, déplacer votre corps sur 30 degrés pour la prochaine répétition.</br>
     6. Revenez à la position de départ et répétez l'exercice, en travaillant tout le chemin jusqu'à ce que vous êtes de retour où vous avez commencé.</br>


</div>






    <div class="span12">
        <%= link_to "Pectoraux", pectoraux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>