<% provide(:title, 'Pompes') %>

<div class="center hero-unit">
       <h1>Pompes</h1>
    	
       
</div>
    <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: poitrine</br>
            D'autres muscles: épaules, triceps</br>
            Niveau: débutant</br>
            Type de mécanique: composé</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

Face contre terre, les mains au sol avec un écartement légèrement supérieur à la largeur des épaules, jambes tendues. Votre corps doit être bien droit, le dos bien à plat.</br> L’objectif est de faire toucher les pectoraux au sol en fléchissant les bras et de remonter en tendant les bras.</br> Variantes : Les mains peuvent être resserrées et se trouver, en position basse, au milieu des pectoraux afin de solliciter la partie centrale des muscles de la poitrine. Il est possible de réaliser les pompes en inclinant le corps en plaçant ses jambes sur un banc par exemple. Cette inclinaison agira sur la partie haute des pectoraux. A l’inverse, si les mains sont sur le banc et les pieds au sol, l’exercice permettra de travailler la partie basse des muscles.</br>


</div>






    <div class="span12">
        <%= link_to "Pectoraux", pectoraux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>