<% provide(:title, 'Développé couché incliné') %>

<div class="center hero-unit">
       <h1>Développé couché incliné</h1>
    	
       
</div>
    <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: Poitrine (supérieurs)</br>
            D'autres muscles: Epaules, triceps</br>
            Niveau: débutant</br>
            Type de mécanique: composé</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>
L'exercice se fait allongé sur un banc incliné, avec une barre.</br>
Le dos bien plaqué sur le banc, les pieds posés sur le sol.</br>
La barre doit être posée au niveau de la poitrine.</br>
Les coudes fléchis, pointant vers le sol, les paumes des mains vers le haut (supination).</br>
Exercez une poussée vers le haut, jusqu'à avoir les bras tendus.</br>
        



</div>






    <div class="span12">
        <%= link_to "Pectoraux", pectoraux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>