<% provide(:title, 'Développé couché') %>

<div class="center hero-unit">
       <h1>Développé couché</h1>
    	
       
</div>
    <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: Poitrine</br>
            D'autres muscles: Epaules, triceps</br>
            Niveau: débutant</br>
            Type de mécanique: composé</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

       L'exercice se fait allongé sur un banc droit, avec une barre.</br>
Le dos bien à plat sur le banc et les pieds au sol.</br>
Les bras à l'horizontal, les coudes fléchis, les mains en supination ( paumes vers le haut ).</br>
La barre doit être au niveau de la poitrine.</br>
Exercez une poussée vers le haut jusqu'à avoir les bras tendus.</br></br>

Soufflez durant l'effort et inspirez en revenant à la position initiale.</br>

Cet exercice nécessite une parade en cas de défaillance pour éviter les blessures dues à la barre.</br></br>

Variante : Vous pouvez utiliser des haltères, qui permettent une plus grande amplitude et nécessite plus d'activité des muscles stabilisateurs. </br>



</div>






    <div class="span12">
        <%= link_to "Pectoraux", pectoraux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  