<% provide(:title, 'Ecarté couché') %>

<div class="center hero-unit">
       <h1>Ecarté couché</h1>
    	
       
</div>
    <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: poitrine</br>
            Niveau: débutant</br>
            Type de mécanique: isolation</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

       1. Allongez-vous sur un banc plat avec un haltère sur chaque main posée sur le haut des cuisses . Les paumes de la main seront face à face.</br>
2. Ensuite, en utilisant vos cuisses pour aider à soulever les haltères , soulever les haltères un à la fois et vous pouvez les tenir en face de vous à la largeur des épaules avec les paumes de vos mains en face de l' autre . Soulevez les haltères vers le haut comme vous les pressant , mais arrêtez et maintenez juste avant que vous verrouillez . Ce sera votre position de départ.</br>
    3. Avec une légère courbure sur les coudes afin de prévenir le stress au tendon du biceps , abaissez vos bras sur les deux côtés dans un grand arc de cercle jusqu'à ce que vous sentiez un étirement sur ​​votre poitrine . Inspirez en vous effectuez cette partie du mouvement . Astuce: Gardez à l'esprit que tout le mouvement , les bras doivent rester immobile , le mouvement ne devrait avoir lieu à l' articulation de l'épaule.</br>
    4. Retour vos bras à la position de départ que vous serrez vos muscles de la poitrine et expirez. Astuce: Assurez-vous d'utiliser le même arc de mouvement utilisé pour abaisser les poids.</br>
    5. Maintenez la position pendant une seconde à la position contractée et répétez le mouvement pour le montant prescrit de répétitions.</br></br>

Variations : Vous voudrez peut-être utiliser un paumes vers l'avant pour la version stimulation différente .


</div>






    <div class="span12">
        <%= link_to "Pectoraux", pectoraux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>