
<% provide(:title, 'Pompes avec les mains surélevés') %>

<div class="center hero-unit">
       <h1>Pompes avec les mains surélevés</h1>
    	
       
</div>
    <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: Poitrine</br>
            D'autres muscles: Epaules, triceps</br>
            Niveau: débutant</br>
            Type de mécanique: composé</br>


        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

       1. Debout face à banc ou solide plate-forme surélevée. Placez les mains sur le bord du banc ou plate-forme, légèrement plus large que la largeur des épaules.</br>
     2. Position avant-pied arrière du banc ou plate-forme avec les bras et le corps droit. Bras doivent être perpendiculaires au corps. Garder le corps droit, la poitrine inférieure à bord de la boîte ou la plate-forme en pliant les bras.</br>
     3. Poussez corps jusqu'à bras sont étendus. Répétez.</br>


</div>






    <div class="span12">
        <%= link_to "Pectoraux", pectoraux_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  