<% provide(:title, 'Tirage menton prise serrée') %>

<div class="center hero-unit">
       <h1>Tirage menton prise serrée</h1>
        
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: trapèzes</br>
            D'autres muscles: biceps, épaules</br>
            Niveau: débutant</br>
            Type de mécanique: isolation</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

Debout, prendre une barre en prise pronation (paume des mains vers le bas).</br> Tenir la barre avec une prise plus étroite que la largeur de vos épaules.</br> Plus la prise est serrée et plus l'effort sera important sur les trapèzes. Vous pouvez si vous le souhaitez ne laisser que 10cm à 15cm d'écartement entre vos deux mains. Attention, car plus la prise est serrée, et plus l'équilibre est dur à maintenir, et plus les poignets seront « tordus » en position haute.</br> Contracter trapèzes et épaules pour soulever la barre pour l'amener à hauteur du menton.</br> Pendant tout le mouvement, il ne faut pas chercher à lever les mains, mais plutôt à lever les coudes. Ces derniers doivent toujours être au dessus des mains.</br> La barre doit rester proche du corps, il ne faut pas chercher à l'éloigner du torse. En position haute, vous pouvez ramener coudes et épaules en arrière pour mieux faire travailler les deltoïdes postérieurs et les trapèzes moyens.</br>

Pensez à bien gainer toute la ceinture abdominaux / lombaires, et à garder le dos bien droit pendant l'exercice. </br>


</div>


    <div class="span12">
        <%= link_to "Trapèzes/cou", trapezes_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
