<% provide(:title, 'Rowing debout- haltères') %>

<div class="center hero-unit">
       <h1>Rowing debout- haltères</h1>
        
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: trapèzes</br>
            D'autres muscles: biceps, épaules</br>
            Niveau: débutant</br>
            Type de mécanique: isolation</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

1. Saisissez un haltère dans chaque main avec une prise en pronation ( paumes vers l'avant) qui est légèrement inférieure à la largeur des épaules . Les haltères doivent être posés sur le dessus de vos cuisses . Vos bras doivent être complétés par une légère courbure au niveau des coudes et le dos doit être droit . Ce sera votre position de départ.</br>
    2. Utilisez vos épaules latérales pour soulever les haltères que vous expirez . Les haltères doivent être près du corps que vous vous déplacez vers le haut et les coudes doivent conduire le mouvement . Continuer à les lever jusqu'à ce qu'ils touchent presque le menton . Astuce: Vos coudes doivent conduire le mouvement . Comme vous soulevez les haltères , vos coudes doivent toujours être supérieure à vos avant-bras . Aussi, gardez votre torse stationnaire et une pause pour un deuxième au sommet du mouvement.</br>
    3. Abaissez les haltères vers le bas lentement à la position de départ . Inspirez en vous effectuez cette partie du mouvement.</br>
    4. Répétez l'opération pour la quantité recommandée de répétitions.</br>

Attention: </br>Soyez très prudent avec combien de poids que vous utilisez dans cet exercice . Trop de poids conduit à la mauvaise forme , ce qui peut causer des blessures à l'épaule . J'ai vu trop de fois donc s'il vous plaît pas de secousses , oscillant et la tricherie . Aussi, si vous souffrez de problèmes d'épaule , vous voudrez peut-être rester à l'écart de lignes droites et les remplacer par une certaine forme de relances latérales.</br>

Variantes: </br> Cet exercice peut également être effectuée en utilisant une barre droite fixée à une poulie basse et il peut également être effectuée en utilisant une barre d' EZ.</br>


</div>


    <div class="span12">
        <%= link_to "Trapèzes/cou", trapezes_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
