<% provide(:title, "Shrugs avec haltères") %>

<div class="center hero-unit">
       <h1>Shrugs avec haltères</h1>
        
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: trapèzes</br>
            Niveau: débutant</br>
            Type de mécanique: isolation</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

Debout, prendre un haltère dans chaque main, et les tenir en prise neutre le long du corps.</br> Bien gainer la sangle abdominale, pour faciliter le maintien du dos, et ne pas « écraser » la colonne vertébrale.</br> Inspirer et contracter les trapèzes pour remonter les épaules, en gardant toujours les bras tendus le long du corps. Ne pas s'aider en pliant les bras, ni donner d'à-coup. Pour une brûlure plus importante, vous pouvez maintenir la contraction en position haute pendant 1 ou 2 secondes.</br> Relâcher en expirant. Contrôlez bien la fin de la descente, pour ne pas avoir d'à-coup en position basse, ce qui pourrait tirer sur les épaules et comprimer le dos.</br>


</div>


    <div class="span12">
        <%= link_to "Trapèzes/cou", trapezes_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
