<% provide(:title, 'Couché sur le ventre, la plaque résistance') %>

<div class="center hero-unit">
       <h1>Couché sur le ventre, la plaque résistance</h1>
        
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: trapèzes</br>
            Niveau: intermédiaire</br>
            Type de mécanique: isolation</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

1. Allongez face vers le bas avec votre corps tout entier directement sur ​​un banc plat tout en maintenant une plaque de poids derrière votre tête. Astuce: Vous aurez besoin de vous positionner de sorte que vos épaules sont légèrement au-dessus de la fin d'un banc plat pour que le haut de la poitrine, le cou et le visage pour être sur le banc. Ce sera votre position de départ.</br>
     2. Tout en gardant la plaque sécurisé à l'arrière de votre tête lentement baisser la tête (comme de dire «oui») que vous respirez.</br>
     3. Levez la tête vers l'arrière jusqu'à la position de départ dans un mouvement semi-circulaire que vous expirez. Maintenez la contraction pendant une seconde.</br>
     4. Répétez l'opération pour la quantité recommandée de répétitions.</br>

Attention: </br>Comme avec tous les exercices, s'abstenir d'utiliser toute sorte de mouvements brusques ou saccadés.</br>

Variante: </br>Vous pouvez choisir de ne pas utiliser de résistance au début.</br>


</div>


    <div class="span12">
        <%= link_to "Trapèzes/cou", trapezes_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
