<% provide(:title, "Haussement d'épaules- haltères") %>

<div class="center hero-unit">
       <h1>Haussement d'épaules- haltères</h1>
        
       
</div>
     <div class="row-fluid">
        <div class= "span5", id= "dirl">
            Muscle principal: trapèzes</br>
            Niveau: débutant</br>
            Type de mécanique: isolation</br>



        </div>

        <div class= "span7", id= "dir">

            <h3>Les étapes</h3>

1. Tiens-toi debout avec un haltère sur chaque main (les paumes vers le torse), bras tendus sur les côtés.</br>
     2. Soulevez les haltères en élevant les épaules aussi haut que possible pendant que vous expirez. Maintenez la contraction au sommet pour une seconde. Astuce: Les bras doivent rester étendu à tout moment. S'abstenir d'utiliser les biceps pour aider à soulever les haltères. Seuls les épaules doivent être montent et descendent.</br>
     3. Abaissez les haltères à la position initiale.</br>
     4. Répétez l'opération pour la quantité recommandée de répétitions.</br>

Variantes: </br>Vous pouvez effectuer cet exercice avec des bandes, des haltères ou des câbles. Vous pouvez également utiliser une seule manche et de travailler d'un côté à la fois.</br>


</div>


    <div class="span12">
        <%= link_to "Trapèzes/cou", trapezes_path %></br>
        <%= link_to "Exercices", exercices_path %></br>
        </div>
</div>
  
